.base {
  padding-top: 1rem;
  overflow-y: scroll;
  height: 100%;
}

.titleSection {
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.emptyRepoMessage {
  padding: 2rem 1rem;
  border-top: solid 1px var(--border-grey);
}

.emptyIcon {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1rem;
}

.description {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.commitDetailsLabel {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.linkIcon {
  margin-left: 0.5rem;
}
