.base {
  height: 100vh;
  scrollbar-width: none;
  padding-top: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.base section {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.tabsHeader,
.title {
  padding: 0 1.5625rem 0 1.375rem;
}

.tabsHeader {
  display: flex;
}

.base::-webkit-scrollbar {
  display: none;
}

.repoInfo {
  padding: 0 1.5625rem;
}

.pipelineGroup {
  border-radius: 4px;
}

.commitsTab {
  flex: 1;
  overflow: hidden;
}
