.title {
  margin: 0 1rem 0 0;
  border-right: solid 1px var(--line-grey);
  padding-right: 1rem;
  white-space: nowrap;
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.switchGroup {
  display: flex;
  align-items: center;
}

.switchItem {
  display: flex;
  align-items: center;
  padding-right: .5rem;
}

.switch {
  margin-right: 0.5rem;
}

.exportGroup {
  display: flex;
  margin-right: 2rem;
}

.copy {
  white-space: nowrap;
}

.copy:not(:disabled):hover,
.copy:active,
.copy:focus {
  color: var(--pachyderm-black);
}
