* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.dex-container {
  color: #333;
  margin: 1.75rem auto;
  max-width: 500px;
  min-width: 320px;
}

.dex-btn {
  box-sizing: border-box;
  border-radius: 3px;
  text-decoration: none;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out,
    border 300ms ease-in-out;
  font-weight: 600;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 0.875rem;
  padding: 0.5rem 1.25rem;
}

.dex-btn-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  border-radius: 4px 0 0 4px;
  float: left;
  height: 36px;
  margin-right: 5px;
  width: 36px;
}

.dex-btn-icon--google {
  background-color: #FFFFFF;
  background-image: url(../static/img/google-icon.svg);;
}

.dex-btn-icon--local {
  background-color: #84B6EF;
  background-image: url(../static/img/email-icon.svg);
}

.dex-btn-icon--coreos {
  /* B&W CoreOS SVG logo */
  background-image: url(../static/img/coreos-icon.svg);
}

.dex-btn-icon--github {
  background-color: #F5F5F5;
  background-image: url(../static/img/github-icon.svg);
}

.dex-btn-icon--gitlab {
  background-image: url(../static/img/gitlab-icon.svg);
  background-size: contain;
}

.dex-btn-icon--oidc {
  background-image: url(../static/img/oidc-icon.svg);
  background-size: contain;
}

.dex-btn-icon--bitbucket-cloud {
  background-color: #205081;
  background-image: url(../static/img/bitbucket-icon.svg);
}

.dex-btn-icon--atlassian-crowd {
  background-color: #CFDCEA;
  background-image: url(../static/img/atlassian-crowd-icon.svg);
}

.dex-btn-icon--ldap {
  background-color: #84B6EF;
  background-image: url(../static/img/ldap-icon.svg);
}

.dex-btn-icon--saml {
  background-color: #84B6EF;
  background-image: url(../static/img/saml-icon.svg);
}

.dex-btn-icon--linkedin {
  background-image: url(../static/img/linkedin-icon.svg);
  background-size: contain;
}

.dex-btn-icon--microsoft {
  background-image: url(../static/img/microsoft-icon.svg);
}

.dex-subtle-text {
  color: #999;
  font-size: 12px;
}

.dex-separator {
  color: #999;
}

.dex-list {
  font-size: 0.875rem;
  list-style: circle;
  text-align: left;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.dex-list li + li {
  margin-top: 1.5rem;
}

.dex-error-box {
  background-color: #DD1327;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  max-width: 320px;
  padding: 4px 0;
}

.dex-error-box {
  margin: 20px auto;
}
