.base {
    display: inline-flex;
    overflow-x: hidden;
}

.base > *:last-child {
    flex: 1;
}

.leftPane {
    width: 400px;
}

.wrapper {
    background-color: var(--background-grey);
    padding: 1.25rem 2.5rem;
}
