@keyframes selected {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 200;
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(0.5)
  }
  50% {
    transform: scale(1)
  }
  100% {
    transform: scale(0.5)
  }
}

.link {
  stroke: var(--grey-7);
  stroke-width: 1px;
  marker-end: url(#end-arrow);
  stroke-linejoin: bevel;
}

.link:hover {
  cursor: pointer;
}

.link.selected, .link.selected.link.busySource{
  stroke-width: 1.5px;
  stroke-dasharray: 2;
  animation: selected linear 10s infinite reverse;
  stroke: var(--cyan-6);
  marker-end: url(#end-arrow-active);
}

.link.errorTarget.selected,
.link.errorSource.selected {
  stroke: var(--error-red);
  marker-end: url(#end-arrow-error);
}

.link.busySource {
  stroke-dasharray: 5;
}

.circle {
  fill: var(--cyan-6);
  animation: scaleDown linear 0.8s infinite;
}
