.account {
  color: var(--white);
  font-family: Montserrat;
  font-size: 0.75rem;
  font-weight: bold;
}

.base {
  background-color: var(--background-black);
  height: 4.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.dashboard {
  margin-left: 0.5rem;
  height: 1.25rem;
  width: 5.875rem;
  color: var(--white);
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0;
}

.divider {
  box-sizing: border-box;
  height: 2.6875rem;
  width: 1px;
  border: 1px solid var(--placeholder-grey);
}

.logo {
  display: inline-block;
  align-items: center;
  text-decoration: none;
}

.support {
  text-decoration: underline;
  color: var(--white);
  font-weight: bold;
}

.workspaceName {
  color: var(--white);
  font-size: 0.75rem;
  font-weight: bold;
}
