:root {

   /* Default color shades */
   --md-default-fg-color:               hsla(0, 0%, 0%, 0.87);
   --md-default-fg-color--light:        hsla(0, 0%, 0%, 0.54);
   --md-default-fg-color--lighter:      hsla(0, 0%, 0%, 0.26);
   --md-default-fg-color--lightest:     hsla(0, 0%, 0%, 0.07);
   --md-default-bg-color:               hsla(0, 0%, 100%, 1);
   --md-default-bg-color--light:        hsla(0, 0%, 100%, 0.7);
   --md-default-bg-color--lighter:      hsla(0, 0%, 100%, 0.3);
   --md-default-bg-color--lightest:     hsla(0, 0%, 100%, 0.12);

   /* Primary color shades */
   --md-primary-fg-color:               hsla(281, 39%, 30%, 1);
   --md-primary-fg-color--light:        hsla(281, 39%, 30%,1);
   --md-primary-fg-color--dark:         hsla(280, 37%, 11%, 0);
   --md-primary-bg-color:               var(--md-default-bg-color);
   --md-primary-bg-color--light:        var(--md-default-bg-color--light);

   /* Accent color shades */
   --md-accent-fg-color:                hsla(#{hex2hsl($clr-indigo-a200)}, 1);
   --md-accent-fg-color--transparent:   hsla(#{hex2hsl($clr-indigo-a200)}, 0.1);
   --md-accent-bg-color:                hsla(231, 99%, 66%, 1);
   --md-accent-bg-color--light:         var(--md-default-bg-color--light);
   --md-text-link-color:                hsla(240, 100%, 50%, 0.8);
}

:root > * {

   /* Code block color shades */
   --md-code-bg-color:                  hsla(0, 0%, 96%, 1);
   --md-code-fg-color:                  hsla(200, 18%, 26%, 1);
}

.md-typeset {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.md-typeset a {
    text-decoration-style: solid;
    text-decoration: underline;
}

.md-typeset .md-link {
   color:var(--md-primary-fg-color);
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   text-decoration: none;
   font-size: .685rem;
   line-height: 24px;
   padding-right: 20px;
   background-image: url(/assets/images/arrow.svg);
   background-size: 14px 9px;
   background-repeat: no-repeat;
   background-position: right center;
}

.md-nav__link {
   font-family: 'Montserrat', sans-serif;
}

.md-tabs__link {
   font-family: 'Montserrat', sans-serif;
}

.md-source__repository {
    font-family: 'Montserrat', sans-serif;
}

.md-header-nav__topic {
    font-family: 'Montserrat', sans-serif;
}

.md-typeset h1 {
       font-size:27px;
       line-height: 40px;
       font-weight: 800;
       color: black;
}

.md-typeset h2 {
       font-size:24px;
       line-height: 37px;
       font-weight: 800;
       color: black;
}

.md-typeset h3 {
        font-size:18px;
        line-height: 28px;
        font-weight: 600;
        color: black;
}

body, input {
    font-family: 'Montserrat', sans-serif;
}

.md-typeset .md-link{
  color:var(--md-primary-fg-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: .685rem;
  line-height: 24px
}

/* Float two columns side by side */
.column {
  float: left;
  width: 33%;
  padding: 0px 10px;
  margin-bottom: 20px;
}

.column-2 {
   float: left;
   width: 50%;
   padding: 0px 10px;
   margin-bottom: 20px;
 }

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
  border-bottom: 20px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

  @media screen and (max-width: 600px) {
  .column-2 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


.card-square.mdl-card {
  width: auto;
  height: 260px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
}
.card-square > .mdl-card__title {
  color: #fff;
  background: #4B2A5C;
  padding-left: 10px;
}

.mdl-card__actions {
  line-height: 1.4;
}

.card-link {
  color: var(--md-primary-fg-color);
  font-family: 'Montserrat',sans-serif;
  font-weight: 700;
  font-size: .685rem;
  line-height: 24px;
}
