.base {
  width: 100%;
  display: inline-flex;
  color: var(--pachyderm-black);
  padding: 0.75rem;
  padding-right: 1rem;
}

.base:hover {
  background-color: var(--hover-grey);
  color: var(--pachyderm-black);
  text-decoration: none;
}

.base.cardStyle {
  width: calc(100% - 2rem);
  background-color: var(--white);
  border: solid 1px var(--grey-3);
  border-radius: 4px;
  margin: 0 1rem;
  margin-bottom: 0.5rem;
}

.base.cardStyle:hover,
.base.cardStyle.selected {
  background-color: var(--white);
  border: solid 1px var(--banner-green);
}

.base.cardStyle.selected {
  border-right-width: 6px;
  padding-right: calc(1rem - 5px);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.base.cardStyle.error:hover,
.base.cardStyle.error.selected {
  border-color: var(--error-red);
}

.base.expandActions {
  padding-left: 1.625rem;
  padding-right: 3.875rem;
}

.innerContent {
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.timestamp {
  flex: 1;
}

.jobId {
  margin-right: 0.5rem;
}

.jobStatus {
  color: var(--pachyderm-green);
  background-color: var(--background-blue-light);
  line-height: 0.9375rem;
  border-radius: 4rem;
  padding: 0.28125rem;
  width: 5.8125rem;
  text-align: center;
}

/* stylelint-disable-next-line selector-class-pattern */
.jobStatus.JOB_FAILURE {
  background-color: var(--background-pink);
  color: var(--pachyderm-coral);
}

/* stylelint-disable-next-line selector-class-pattern */
.jobStatus.JOB_KILLED {
  color: var(--pachyderm-black);
}
