.base {
  width: 100%;
  display: block;
  font-size: 0.75rem;
  color: var(--pachyderm-black);
  padding: 0.75rem;
}

.base.expandActions {
  padding-left: 1.625rem;
  padding-right: 3.875rem;
}

.innerContent {
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.innerContentItem + .innerContentItem {
  margin-left: 0.75rem;
}

.expandActions .innerContentItem + .innerContentItem {
  margin-left: 1.625rem;
}

.base:hover{
  background-color: var(--hover-grey);
  color: var(--pachyderm-black);
  text-decoration: none;
}

.timestamp {
  flex: 1;
  text-align: center;
}

.icon {
  transform: rotate(90deg);
}

.jobStatus {
  color: var(--pachyderm-green);
  background-color: var(--background-blue-light);
  line-height: 0.9375rem;
  border-radius: 4rem;
  padding: 0.28125rem;
  width: 5.8125rem;
  text-align: center;
}

.jobStatus.JOB_FAILURE {
  background-color: var(--background-pink);
  color: var(--pachyderm-coral);
}

.jobStatus.JOB_KILLED {
  color: var(--pachyderm-black);
}
