.node {
  overflow: initial;
}

.node .label {
  border-radius: 2px;
  font-size: 0.5rem;
  padding-top: 0.5rem;
  line-height: 0.9rem;
  box-shadow: 0 1px 1px 0 var(--border-grey);
  background-color: white;
  fill: var(--white);
  border: solid 1px var(--line-grey);
}

.node .label.egress {
  border: none;
  box-shadow: none;
  fill: none;
  opacity: 0;
}

.nodeGroup.interactive:hover .node .label:not(.egress),
.nodeGroup.interactive.selected .node .label:not(.egress) {
  background-color: var(--background-blue);
}

.nodeGroup.interactive.error:hover .node .label:not(.egress),
.nodeGroup.interactive.selected.error .node .label:not(.egress) {
  background-color: var(--background-pink);
}

.nodeGroup.interactive.busy:hover .label:not(.egress),
.nodeGroup.interactive.selected.busy .label:not(.egress),
.nodeGroup.interactive.busy:hover use,
.nodeGroup.interactive.selected.busy use {
  opacity: #f4f9fa;
  color: #8e8f91;
  box-shadow: 0 1px 2px 0 var(--line-grey);
}

.label {
  font-size: 10.var(--font-size-body-small);;
  font-weight: 600;
  text-align: center;
  user-select: none;
  line-height: 1rem;
  overflow: hidden;
  pointer-events: none;
  padding: 0.5rem;
  padding-top: 1.5rem;
  fill: var(--pachyderm-black);
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.nodeGroup.interactive:hover .tooltipText {
  opacity: 1;
}
