/* stylelint-disable selector-class-pattern */
.code {
  white-space: pre;
  background-color: inherit;
}

.code * {
  font-family: 'Menlo';
}

.depth0 > :global(.hljs-attr) {
  color: var(--chart-hover-dark-blue);
}

.depth1 > :global(.hljs-attr) {
  color: var(--purple-viz-text-1);
}

.depth2 > :global(.hljs-attr) {
  color: var(--pachyderm-coral);
}

.depth3 > :global(.hljs-attr) {
  color: var(--chart-blue);
}

.depth4 > :global(.hljs-attr) {
  color: var(--purple-viz-text-3);
}

.depth5 > :global(.hljs-attr) {
  color: var(--pachyderm-green);
}

.codeSection {
  padding-left: 1.25rem;
}
