.infoCard {
  box-shadow: 0px 1px 4px 1px var(--dropshadow);
  box-sizing: border-box;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.header {
  margin-top: 0.5rem;
  padding: 1rem 2rem;
  padding-bottom: 0.5rem;
}

.headerText {
  margin-bottom: 0.25rem;
}

.details {
  padding: 2rem;
  background-color: var(--cyan-10);
}

.detailsHeader {
  margin-bottom: 1rem;
}

.detailsHeader > h6 {
  display: inline-block;
}

.details ul {
  margin-left: 1rem;
  margin-bottom: 0;
  list-style: none;
}

.details li::before {
  content: '\2022';
  color: var(--cyan-7);
  font-weight: bold;
  display: inline-block;
  font-size: 1.75rem;
  line-height: 0.875rem;
  vertical-align: sub;
  width: 1rem;
  margin-left: -1rem;
}

.icon {
  margin-right: 1rem;
}

.linkSVG {
  padding-left: 0.75rem;
}

.link {
  display: flex;
  align-items: center;
}
