.base {
  border-right: 1px solid var(--grey-4);
  background-color: var(--grey-1);
  width: 21.5rem;
}

.wrapper {
  position: fixed;
  padding: 4rem 2rem 0 2rem;
  width: 21.5rem;
  height: 100%;
}

.caption {
  display: block;
  color: var(--grey-10);
}

.taskInfo {
  color: var(--grey-10);
}

.dropdown {
  width: min-content;
  max-width: 17.5rem;
  margin-bottom: 1.5rem;
}

.dropdownButton {
  color: var(--grey-10);
}

.dropdownMenu {
  z-index: 3;
}
