.base [class$='modal-dialog'] {
  margin: 1rem 0.5rem 0 0.5rem;
  max-width: 100%;
}

.base [class$='modal-content'] {
  width: 100%;
  height: calc(100vh - 1rem);
  margin: 0;
  border: none;

  background-color: var(--grey-3);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
