.base {
  padding: 0 2rem;
}

.content {
  width: 100%;
  max-width: 60rem;
  background-color: var(--white);
  border: 1px solid var(--border-grey);
  padding: 2rem;
}

.fullError {
  background-color: var(--white);
  border: solid 1px var(--border-grey);
  border-radius: 0.4rem;
  overflow-y: scroll;
  max-width: 60rem;
}

.elephantImage {
  max-width: 25rem;
}
