.base {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.base:hover {
  cursor: pointer;
  background-color: var(--hover-grey);
}

.base > span {
  color: var(--pachyderm-black);
}

.underline {
  border-bottom: 1px solid var(--pachyderm-black);
  display: inline-block;
}

.icons {
  display: flex;
  gap: 0.25rem;
}

.killed {
  color: var(--pachyderm-red);
}
