.base {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 0.5;
  --icon-shadow: #000000;
}

.white path:last-of-type {
  --icon-color: var(--background-grey);
  fill: var(--background-grey);
}

.black path:last-of-type {
  --icon-color: var(--pachyderm-black);
  fill: var(--pachyderm-black);
}

.purple path:last-of-type {
  --icon-color: var(--pachyderm-plum);
  fill: var(--pachyderm-plum);
}

.silver path:last-of-type {
  --icon-color: var(--placeholder-grey);
  fill: var(--placeholder-grey);
}

.small {
  transform: scale(calc(2/3));
}
