.base {
  width: 100%;
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.base::-webkit-scrollbar {
  display: none;
}

.topContent {
  padding: 1rem;
  padding-top: 4rem;
  padding-bottom: 0rem;
}

.title {
  color: var(--pachyderm-black);
  font-weight: 600;
  font-size: var(--font-size-header);
  line-height: 19px;
}

.subTitle {
  color: var(--pachyderm-black);
  font-weight: 600;
  line-height: 22px;
  font-size: 0.875rem;
  padding: 1rem;
  background-color: var(--white);
  position: sticky;
  z-index: 1;
  top: -1px
}

.subTitle.stuck {
  border-bottom: solid 1px var(--line-grey);
}

.inline {
  display: inline-flex;
  width: 100%;
}

.inline a {
  text-align: right;
}

.extras {
  margin-left: 0.5rem;
  flex: 1;
  display: inline-flex;
  justify-content: space-between;
  text-align: right;
}

.link {
  color: var(--pachyderm-plum);
}

.link:hover {
  text-decoration: none;
  color: var(--pachyderm-plum);
}

.link:active {
  color: var(--pachyderm-plum);
}
