.underline {
  width: 100%;
  border-bottom: 1px solid white;
}

.input {
  margin-top: 0.1rem;
  padding-left: 2rem;
  width: 23rem;
  text-overflow: ellipsis;
  border: unset;
  color: var(--white);
  background-color: transparent;
}

.inputWrapper {
  margin-top: 0.25rem;
  padding: 0.5rem 1rem 1rem 1rem;
  border-radius: 3px 3px 0px 0px;
  width: 31.25rem;
}

.input::placeholder {
  color: var(--white);
}

.backgroundGrey9 {
  background-color: var(--grey-9);
}

.input:focus,
.input:active {
  width: 27rem;
  outline: none;
  border-color: var(--border-grey);
  background-color: var(--grey-9);
}

.open {
  border-radius: 3px 3px 0px 0px;
}

.searchIcon {
  position: absolute;
  left: 1.45rem;
  top: 1rem;
  z-index: 2;
}

.statusText {
  position: absolute;
  top: 0.9rem;
  right: 1.45rem;
  z-index: 2;
}

.button {
  --button-size: 1.625rem;
  border: none;
  background: none;
  position: absolute;
  height: var(--button-size);
  right: 1rem;
  top: calc((3rem - var(--button-size)) / 2);
}

.button:focus:not([class$='focus-visible']) {
  outline: none;
}
