.input {
  border-radius: 3px;
  padding-left: 2.65rem;
  padding-right: 2rem;
  height: 2.438rem;
  width: 31.25rem;
  border: none;
  color: var(--white);
  background-color: transparent;
}

.input::placeholder {
  color: var(--white);
}

.input:focus,
.input:active {
  outline: none;
  border-color: var(--border-grey);
  background-color: var(--grey-9);
}

.open {
  border-radius: 3px 3px 0px 0px;
  border-bottom: var(--placeholder-grey);
}

.searchIcon {
  position: absolute;
  left: 0.75rem;
  top: 0.63rem;
  z-index: 2;
  color: var(--white);
}

.button {
  --button-size: 1.625rem;
  border: none;
  background: none;
  position: absolute;
  height: var(--button-size);
  right: 0.5rem;
  top: calc((2.438rem - var(--button-size)) / 2);
}

.button:focus:not([class$='focus-visible']) {
  outline: none;
}
