.divider {
  box-sizing: border-box;
  height: 2rem;
  width: 1px;
  border: 1px solid var(--placeholder-grey);
}

.responsiveShow {
  display: none !important;
}
  
@media screen and (max-width: 1023px) {
  .responsiveShow {
    display: inline-flex !important;
  }
  .responsiveHide > * {
    display: none;
  }
}
  
.dropdown svg, .dropwn:hover svg {
  color: var(--white);
}
