.rolesTable {
  flex: 1;
  width: 100%;
  margin-bottom: 0rem;
  overflow-y: scroll;
  display: block;
}

.rolesTable td {
  padding: 0.5rem 0rem;
  width: 17rem;
}

.rolesTable td:first-of-type {
  max-width: 16rem;
}

.rolesTable td:last-of-type,
.headerRow th:last-of-type {
  padding-left: 0.5rem;
}

.userCell {
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  word-break: break-all;
}

.userRow {
  height: 4.375rem;
}

.cellIcon {
  display: inline-block;
  margin-right: 0.5rem;
}

.cellIcon:hover {
  cursor: pointer;
}

.headerRow {
  margin-top: 1rem;
  border-bottom: solid 1px var(--border-grey);
  display: inline-flex;
}

.columnHeader {
  width: 17rem;
  height: 2rem;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.filterInput {
  flex: 1;
  border: none;
  outline: none;
}

.disclaimerText {
  display: inline-flex;
  align-items: center;
}

.addCircle {
  width: 1.5rem;
  border: solid 1px var(--border-grey);
  border-radius: 100%;
  display: inline-flex;
  justify-content: space-around;
  height: 1.5rem;
  vertical-align: middle;
  margin-top: 2px;
}

.addCircle > div {
  height: 0rem;
  width: 1.5rem;
}

.addCircle:hover {
  cursor: pointer;
}

.flexTable {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: hidden;
}
