.base {
  background-color: var(--white);
  padding-left: 3rem;
  padding-top: 2rem;
  overflow-y: scroll;
  border-top: solid 1px var(--border-grey);
  position: relative;
}

.titleContent {
  margin-left: 2rem;
}

.titleLine {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.legend {
  margin-top: 1rem;
}

.legendItem {
  display: inline-block;
  width: 15rem;
  margin-right: 1rem;
}

.legendBox,
.failedBox {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  display: inline-block;
}

.failedBox {
  background: repeating-linear-gradient(
    45deg,
    var(--black),
    var(--black) 3px,
    var(--white) 3px,
    var(--white) 5px
  );
}

.viewOptions {
  margin-top: 1rem;
}
