.media {
  margin: 2rem;
  text-align: center;
  max-width: calc(100% - 4rem);
  min-height: 10rem;
  max-height: calc(
    100vh - var(--header-height) - var(--subheader-height) - 8.25rem
  );
}

.actionBar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.actionBarItem {
  display: flex;
}

.actionBarViewSourceText {
  margin-left: 0.5rem;
}

.viewRaw {
  margin-top: 1rem;
}
