.base {
  max-height: calc(100vh - var(--header-height) - var(--sidebar-header-height));
  padding: 1.5rem 1.125rem 0 1.125rem;
  overflow-y: auto;
}

.divider {
  border-top: 1px dashed var(--line-grey);
  margin: 1.5rem 0;
}

.readLogsWrapper {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.readLogsSvg path {
  transform: scale(0.6);
  fill: var(--pachyderm-plum);
}

.readLogsText:active path,
.readLogsText:hover path,
.readLogsText:focus path {
  fill: var(--hover-plum);
}
