.base {
  display: inline-flex;
  white-space: pre-wrap;
  line-break: anywhere;
  align-items: center;
}

.copy {
  visibility: hidden;
  display: inline-flex;
  margin-left: 0.5rem;
  margin-right: 1.75rem;
}

.copy.copied {
  margin-right: 0rem;
}

.copyCheckmark {
  width: 0;
}

.copyCheckmark.copied {
  margin-left: 0.5rem;
  width: auto;
}

.copyCheckmark.small {
  margin-left: 0rem;
}

.copy.show {
  visibility: visible;
}


.base.clickable:hover {
  cursor: pointer;
}
