src/internal/jsonschema/*/*.schema.json linguist-generated=true
proto-docs.json linguist-generated=true
proto-docs.md linguist-generated=true
MODULE.bazel.lock linguist-generated=true
src/openapi/pachyderm_api.swagger.json linguist-generated=true
src/typescript/*/*.pb.ts linguist-generated=true
