node_modules/
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.env.local
.env.test.local
.env.dev.local
.env.development.local
.env.production.local
coverage/
cypress/screenshots
cypress/fixtures/example.json
cypress/accessToken.txt
cypress/accessToken_*.txt
cypress/downloads/**

# Local Netlify folder
.netlify
