# For emacs partials
*~
*#*

# vim temporary files
*.sw[a-p]

# Ignore IntelliJ project metadata
.idea

# For context helper script config
.ctx

# Build artifacts
.goxc.json
/protofix
doc/_build
/pachd
/pachctl
/pachctl-doc
/worker
## This is for testing pachctl documentation
/src/server/cmd/pachctl/pachctl 
/src/server/cmd/pachctl-doc/pachctl-doc 

# Release artifacts
/VERSION

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
*.DS_Store
/_worktree_data

# Architecture specific extensions/prefixes
./*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe

_tmp
/build/
/etc/testing/s3gateway/s3-tests
/etc/testing/s3gateway/*.txt
bin/**

.bucket
.cluster_name

# python stuff
*.pyc
__pycache__

# local env vars
/.envrc

# Dev files
.vscode/
