dist: trusty
sudo: required
services:
- docker
language: go
go:
- 1.9
branches:
  except:
    - /^v[0-9]/
before_install:
- sudo etc/testing/ci/before_install.sh
before_script:
- make launch-kube
- docker version
# Install any deps used by our "batch test" cron
- etc/testing/ci/travis_install_batch_deps.sh
script:
- make -j2 lint vet
- etc/testing/travis.sh
after_failure:
- kubectl version
- kubectl get all
- kubectl describe pod -l app=pachd
notifications:
  slack: pachyderm:qmSCZSX1Q2yWxc6DjNZZFLGd
