include LICENSE
include *.md
include pyproject.toml
recursive-include jupyter-config *.json

include package.json
include install.json
include ts*.json
include schema/*.json
include yarn.lock
include webpack.config.js

graft jupyterlab_pachyderm/labextension

# Javascript files
graft src
graft style
prune **/node_modules
prune lib

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
