.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: var(--grey-20);
  gap: 1px;
  border-right: 1px solid var(--grey-20);
  border-bottom: 1px solid var(--grey-20);
  box-sizing: border-box;
  border-top: 1px solid var(--grey-20);
}

.image {
  width: 13rem;
  height: 12.6875rem;
  padding: 0.5rem 0rem 2rem 1.75rem;
  object-fit: cover;
}

.imageWrapper {
  padding: 1rem 3.875rem 2rem 2rem;
  background-color: var(--white);
}

.imageStatus {
  height: 2rem;
}

.unchecked svg {
  color: var(--grey-10)
}

.checked svg {
  color: var(--plum-7)
}

.fileList {
  display: flex;
  flex-direction: column;
}

.fileRow {
  border-bottom: 1px solid var(--grey-20);
  height: 3rem;
  padding: 1rem 0 1rem 2rem;
  box-sizing: border-box;
}

.uploadedFile {
  display: flex;
  align-items: center;
}

.uploadedFile > svg {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
}

.fileCheckboxLabel {
  margin-left: 0.584rem;
}
