# copied from
# https://github.com/jaegertracing/jaeger-kubernetes/blob/bcca10c297b38c01d9d7c554172572ffa11944ce/all-in-one/jaeger-all-in-one-template.yml
# with minor changes:
#   - jaeger-agent service removed (unused--our client sends traces directly to the collector. See
#     https://github.com/jaegertracing/jaeger-client-csharp/issues/104
#     - Associated ports (5775, 5778, 6831, 6832) were all removed from the container as well
#   - The jaeger-collector-tchannel and jaeger-collector-http ports are exported from the container
#     (AFAICT this YAML doesn't work as written in jaegertracing/jaeger-kubernetes)
#   - container version fixed at 1.10.1
# Maybe also do:
#   - Zipkin port removed from collector service and jaeger-collector-zipkin service removed (unused)
#   - Remove the COLLECTOR_ZIPKIN_HTTP_PORT env var from the container, and remove port 9411
#     from the jaeger-collector service (the zipkin collector port)
##################################################################################################
# Copyright 2017-2019 The Jaeger Authors
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except
# in compliance with the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software distributed under the License
# is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
# or implied. See the License for the specific language governing permissions and limitations under
# the License.
#

apiVersion: v1
kind: List
items:
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: jaeger
    labels:
      app: jaeger
      app.kubernetes.io/name: jaeger
      app.kubernetes.io/component: all-in-one
  spec:
    replicas: 1
    strategy:
      type: Recreate
    selector:
      matchLabels:
        app: jaeger
        app.kubernetes.io/name: jaeger
        app.kubernetes.io/component: all-in-one
    template:
      metadata:
        labels:
          app: jaeger
          app.kubernetes.io/name: jaeger
          app.kubernetes.io/component: all-in-one
        annotations:
          prometheus.io/scrape: "true"
          prometheus.io/port: "16686"
      spec:
          containers:
          -   env:
              - name: COLLECTOR_ZIPKIN_HTTP_PORT
                value: "9411"
              image: jaegertracing/all-in-one:1.15.1
              name: jaeger
              ports:
#                 - containerPort: 5775
#                   protocol: UDP
#                 - containerPort: 6831
#                   protocol: UDP
#                 - containerPort: 6832
#                   protocol: UDP
#                 - containerPort: 5778
#                   protocol: TCP
                - containerPort: 16686
                  protocol: TCP
                - containerPort: 9411
                  protocol: TCP
                # These ports are referenced by the jaeger-collector service but
                # aren't in the original manifest
                - containerPort: 14267
                  protocol: TCP
                - containerPort: 14268
                  protocol: TCP
              readinessProbe:
                httpGet:
                  path: "/"
                  port: 14269
                initialDelaySeconds: 5
- apiVersion: v1
  kind: Service
  metadata:
    name: jaeger-query
    labels:
      app: jaeger
      app.kubernetes.io/name: jaeger
      app.kubernetes.io/component: query
  spec:
    ports:
      - name: query-http
        port: 80
        protocol: TCP
        targetPort: 16686
    selector:
      app.kubernetes.io/name: jaeger
      app.kubernetes.io/component: all-in-one
    type: LoadBalancer
- apiVersion: v1
  kind: Service
  metadata:
    name: jaeger-collector
    labels:
      app: jaeger
      app.kubernetes.io/name: jaeger
      app.kubernetes.io/component: collector
  spec:
    ports:
    - name: jaeger-collector-tchannel
      port: 14267
      protocol: TCP
      targetPort: 14267
    - name: jaeger-collector-http
      port: 14268
      protocol: TCP
      targetPort: 14268
    - name: jaeger-collector-zipkin
      port: 9411
      protocol: TCP
      targetPort: 9411
    selector:
      app.kubernetes.io/name: jaeger
      app.kubernetes.io/component: all-in-one
    type: ClusterIP
# - apiVersion: v1
#   kind: Service
#   metadata:
#     name: jaeger-agent
#     labels:
#       app: jaeger
#       app.kubernetes.io/name: jaeger
#       app.kubernetes.io/component: agent
#   spec:
#     ports:
#     - name: agent-zipkin-thrift
#       port: 5775
#       protocol: UDP
#       targetPort: 5775
#     - name: agent-compact
#       port: 6831
#       protocol: UDP
#       targetPort: 6831
#     - name: agent-binary
#       port: 6832
#       protocol: UDP
#       targetPort: 6832
#     - name: agent-configs
#       port: 5778
#       protocol: TCP
#       targetPort: 5778
#     clusterIP: None
#     selector:
#       app.kubernetes.io/name: jaeger
#       app.kubernetes.io/component: all-in-one
# - apiVersion: v1
#   kind: Service
#   metadata:
#     name: zipkin
#     labels:
#       app: jaeger
#       app.kubernetes.io/name: jaeger
#       app.kubernetes.io/component: zipkin
#   spec:
#     ports:
#     - name: jaeger-collector-zipkin
#       port: 9411
#       protocol: TCP
#       targetPort: 9411
#     clusterIP: None
#     selector:
#       app.kubernetes.io/name: jaeger
#       app.kubernetes.io/component: all-in-one
