.commit {
  transition: all 400ms ease-in;
  overflow-y: hidden;
}

.commit, .empty {
  padding: 0 0.75rem;
}

.commitInfo {
  padding: 0.375rem 0 0.125rem 0;
  margin-bottom: 1.5rem;
}

.commitData {
  margin-bottom: 0.375rem;
}

.commits {
  padding: 0 0.75rem;
  padding-top: 1.25rem;
  overflow-y: scroll;
  flex: 1;
  height: calc(100vh - 20.5rem);
}

.autoCommits {
  padding: 0rem 1.5rem;
  border-bottom: 1px dashed var(--line-grey);
}

.loadingDots {
  margin-top: 6rem;
}

/* Transition group styles */
.commitEnterActive {
  max-height: 0rem;
  opacity: 0;
}

.commitEnterDone {
  max-height: 7.125rem;
  opacity: 1;
}

.commitEnterActive.commit, .commitEnterDone.commit {
  border-left: 1px dashed var(--banner-green);
}
