.commit {
  transition: all 400ms ease-in;
}

.commit, .empty {
  padding: 0 1.5625rem;
}

.commitInfo {
  padding: 0.375rem 0 0.125rem 0;
  margin-bottom: 1.5rem;
}

.commitData {
  margin-bottom: 0.375rem;
}

.commits {
  margin-top: 0.625rem;
  overflow-y: scroll;
  height: calc(100vh - 22.5rem);
}

.autoCommits {
  padding: 0rem 1.5625rem;
  margin-bottom: 1.25rem;
  border-bottom: 1px dashed var(--line-grey);
}

/* Transition group styles */
.commitEnterActive {
  max-height: 0rem;
  opacity: 0;
}

.commitEnterDone {
  max-height: 7.125rem;
  opacity: 1;
}

.commitEnterActive .commitInfo, .commitEnterDone .commitInfo {
  border-left: 1px dashed var(--banner-green);
}

.loadingDots {
  margin-top: 6rem;
}
