.commit, .empty {
  padding: 0 1.5625rem;
}

.commitTime {
  font-size: 0.75rem;
}

.commitInfo {
  border-left: 1px dashed var(--line-grey);
  margin-left: 0.25rem;
  padding: 0.375rem 0 0.125rem 0.625rem;
}

.commitData {
  font-weight: normal;
  font-size: 0.75rem;
  margin-bottom: 0.375rem;
}

.empty {
  font-size: 0.75rem;
}

.commits {
  margin-top: 0.625rem;
}
