.base {
  box-shadow: 0 1px 2px 0 var(--border-grey);
  border-radius: 3px;
  font-size: var(--font-size-body-medium);
  margin-bottom: 1.25rem;
  overflow-x: hidden;
  background: var(--white);
  padding: 2rem 0 0 1rem;
}

.pipelineStatus {
  background-color: var(--background-pink);
  color: var(--pachyderm-coral);
  padding: 0.25rem 1rem;
  position: absolute;
  margin-top: -1rem;
  border-radius: 1rem;
}

.base:hover {
  cursor: pointer;
  box-shadow: 0 2px 4px 0 var(--border-grey);
}

.base.draggable:hover {
  cursor: grab;
}

.base.draggable:active {
  cursor: grabbing;
}

.base :global .pipeline {
  pointer-events: none;
}
