.base {
    box-shadow: 0 1px 2px 0 var(--border-grey);
    border-radius: 3px;
    font-size: var(--font-size-body-medium);
    background-color: var(--white);
    margin-bottom: 1.25rem;
}
.base.draggable:hover {
    cursor: grab;
}

.base.draggable:active {
    cursor: grabbing;
}

.base :global .node {
    fill: #FAFAFA;
    border-radius: 2.7px;
    border-radius: 2.7px;
}
  
.base :global .nodeGroup.draggable:hover{
    cursor: grab;
}
  
.base :global .nodeGroup.draggable:hover .node{
    fill:#ECF5F7;
}
  
.base :global .nodeGroup.draggable:active{
    cursor: grabbing;
}

.base :global .pipeline {
    pointer-events: none;
}

.base :global .label {
    font-size: 10.8px;
    font-weight: 600;
    text-align: center;
    user-select: none;
    pointer-events: none;
}

.base :global .link {
    stroke: #083D49;
    stroke-width: 1.5px;
    marker-end: url(#end-arrow);
}

.base :global .link:hover {
    cursor: pointer;
}

.base :global .link.transferring {
    stroke: #5ba3b1;
    stroke-width: 2px;
    marker-end: url(#end-arrow-active);
}

.base :global .link.error {
    stroke: #E02020;
    stroke-width: 2px;
    marker-end: url(#end-arrow-error);
}

.base :global .circle {
    fill: #00dbb4
}

.base :global .linkNode {
    opacity: 0;
    user-select: none;
    pointer-events: none;
}
  

.base::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
.base::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
}
