.base {
  background-color: var(--background-grey);
  display: flex;
  flex: 1;
  overflow: hidden;
}

.table {
  width: 100%;
  min-width: 25rem;
  border-collapse: separate; 
  border-spacing: 0 1rem;
  table-layout: fixed;
}
