.base [class$='modal-content'] {
  border-radius: 3px;
  box-shadow: 0 0.125rem 1rem 0 var(--placeholder-grey);
  border: none;
  background-color: var(--white);
  width: 38.25rem;
  height: 40rem;
}

.base [class$='modal-dialog'] {
  top: 0;
  max-width: 38.25rem;
}

.small [class$='modal-dialog'] {
  max-width: 30rem;
}

.small [class$='modal-content'] {
  width: 30rem;
  height: 25rem;
}

.base [class$='modal-backdrop'] {
  background-color: var(--background-black);
}

.content {
  padding: 0 2rem;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin: 0;
  z-index: 1;
}

.notActionable {
  right: -2.25rem;
}

.notActionable path:last-of-type {
  color: var(--white);
}

.icon {
  cursor: pointer;
}

:global(.modal-backdrop.show) {
  /* stylelint-disable-line selector-class-pattern */
  background-color: var(--background-black);
  opacity: 0.7;
}
