.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-black);
  opacity: 0.7;
  z-index: var(--z-index-modal-overlay);
}

.modalWrapper {
  z-index: var(--z-index-modal);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  outline: none;
}

.modalDialog {
  top: 0;
  max-width: 38.25rem;
  margin: 1.75rem auto;
  position: relative;
  width: auto;
  pointer-events: none;
}

.modalContent {
  border-radius: 3px;
  box-shadow: 0 0.125rem 1rem 0 rgba(0, 0, 0, 0.3);
  border: none;
  background-color: var(--white);
  width: 38.25rem;
  height: 40rem;
  position: relative;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  background-clip: padding-box;
  outline: none;
}
.small .modalDialog {
  max-width: 30rem;
}

.small .modalContent {
  width: 30rem;
  height: 25rem;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin: 0;
  z-index: 1;
}
