.node {
  border-radius: 2px;
  fill: var(--white);
  stroke-width: 2px;
  stroke: #a4a8ae;
  paint-order: stroke;
  filter: url('#node-dropshadow');
}

.node.selected:not(.error) {
  stroke: var(--banner-green);
}

.node.selected.error {
  stroke: var(--error-red);
}

.node .label.egress {
  border: none;
  box-shadow: none;
  fill: none;
  opacity: 0;
}

.nodeGroup.interactive:not(.access):hover {
  cursor: not-allowed;
}

.nodeGroup.interactive.access:hover .node:not(.egress) {
  filter: url('#hover-dropshadow');
}

.nodeGroup.interactive.access:hover .node:not(.egress):not(.selected) {
  stroke: #26282a;
}
