

.line {
  stroke: var(--border-grey);
  paint-order: stroke;
}

.node .label.egress {
  border: none;
  box-shadow: none;
  fill: none;
  opacity: 0;
}

.statusRect {
  fill: var(--white);
  paint-order: stroke;
  stroke-width: 2px;
  stroke: var(--border-grey);
}

.buttonGroup rect {
  fill: transparent;
  paint-order: stroke;
}

.buttonGroup * {
  user-select: none;
}

.buttonGroup.interactive.access:hover rect, .buttonGroup.selected rect {
  stroke: var(--cyan);
  stroke-width: 2px;
}

.buttonGroup.interactive.access:hover {
  cursor: pointer;
}

.buttonGroup.interactive.access text {
  fill: var(--pachyderm-plum);
}
.buttonGroup.interactive.access text tspan {
  fill: var(--pachyderm-black);
}

.buttonGroup.interactive:not(.access):hover rect {
  cursor: not-allowed;
}

rect.node{
  fill: var(--white);
  stroke-width: 2px;
  stroke: var(--border-grey);
  paint-order: stroke;
  filter: url('#node-dropshadow');
}
