.node .label.egress {
  border: none;
  box-shadow: none;
  fill: none;
  opacity: 0;
}

rect.node,
.buttonGroup rect.node {
  fill: var(--white);
  stroke-width: 2px;
  stroke: var(--border-grey);
  paint-order: stroke;
  filter: url('#node-dropshadow');
}

rect.node.noShadow {
  filter: none;
}

rect.node.detailedError {
  stroke: var(--error-red);
}

.connectedBorder {
  fill: transparent;
  stroke-width: 1px;
  stroke: var(--border-grey);
  stroke-dasharray: 0.25rem;
  paint-order: stroke;
}

/* REPO & PIPELINE BUTTONS */

.repoPipelineButtonsBorder {
  stroke: var(--border-grey);
  stroke-width: 1px;
  fill: transparent;
}

.buttonGroup * {
  user-select: none;
}

.buttonGroup .roundedButton {
  fill: transparent;
}

.buttonGroup.selected .roundedButton {
  fill: var(--cyan-10);
  stroke: var(--cyan);
  stroke-width: 4px;
}

.buttonGroup.interactive.access:hover .roundedButton {
  fill: var(--cyan-10);
}

.buttonGroup.interactive.access:hover {
  cursor: pointer;
}

.buttonGroup.interactive.access text {
  fill: var(--pachyderm-plum);
}
.buttonGroup.interactive.access text tspan {
  fill: var(--pachyderm-black);
}

.buttonGroup.interactive:not(.access):hover {
  cursor: not-allowed;
}

/* STATUS BUTTONS */

.statusGroup * {
  user-select: none;
}

.statusGroup .subLabel {
  font-size: '12px';
  font-weight: '400';
  text-anchor: 'start';
  dominant-baseline: 'middle';
  font-family: Montserrat, sans-serif;
  fill: '#666';
  user-select: none;
}

.statusGroup .statusRect {
  fill: var(--white);
  paint-order: stroke;
}

.statusGroup.interactive.access:hover .statusRect {
  cursor: pointer;
  stroke: var(--hover-purple);
  stroke-width: 2px;
  filter: url('#node-dropshadow');
}

.statusGroup.interactive:not(.access):hover {
  cursor: not-allowed;
}

.statusGroup .errorText {
  fill: var(--pachyderm-red);
}

.statusGroup .successText {
  fill: var(--green);
}

/* SIMPLIFIED LARGE DAG */

.pipelineSimplifiedBox.node {
  fill: var(--green);
  stroke-width: 0;
  opacity: 0.3;
}

.pipelineSimplifiedBoxError.node {
  fill: var(--error-red);
  stroke-width: 0;
  opacity: 0.3;
}

.buttonGroup rect.node.repoSimplifiedBox.node,
.buttonGroup rect.node.repoSimplifiedBox.node:hover {
  fill: var(--pachyderm-green);
  stroke-width: 0;
  opacity: 0.3;
  cursor: grab;
}

.egressSimplifiedBox {
  fill: var(--green);
  stroke-width: 0;
  opacity: 0.3;
}
