.multiDag {
  box-shadow: 0 1px 2px 0 var(--border-grey);
  border-radius: 3px;
  margin-bottom: 1.25rem;
}

.graph {
  transform-box: fill-box;
  transform-origin: center;
}

.speed {
  shape-rendering: optimizeSpeed;
  text-rendering: optimizeSpeed;
}

:global(.borderRect) {
  fill: transparent;
}
