.base {
  border-bottom: none;
  font-size: 1.125rem;
  font-weight: 500;
  padding-left: 0;
  max-width: 34.25rem;
  font-weight: bold;
  font-family: 'Montserrat ExtraBold', 'Montserrat', sans-serif;
}

.base[class$='modal-header'] {
  padding: 3rem 2rem 1rem;
}

.base.error[class$='modal-header'] {
  padding-top: 1.25rem;
}

.group {
  width: 100%;
}

.important {
  color: var(--error-red);
}

.checkmark {
  height: 1.2rem;
}

.spinner {
  color: var(--success-green);
}

.small {
  max-width: 26rem;
}
