apiVersion: v1
kind: ServiceAccount
metadata:
  name: cert-manager-cainjector
  labels:
    app: cainjector

---

apiVersion: v1
kind: ServiceAccount
metadata:
  name: cert-manager
  annotations:
  labels:
    app: cert-manager

---

apiVersion: v1
kind: ServiceAccount
metadata:
  name: cert-manager-webhook
  labels:
    app: webhook
