.base {
  font-size: var(--font-size-header);
  font-weight: 500;
  box-shadow: inset 0 9px 0 0 var(--white);
  display: inline;
  background-color: var(--background-blue);
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin-left: -5px;
}
