.view {
  overflow: visible;
  display: flex;
  height: 100%;
}

.loadingContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.loadingContainer.isSidebarOpen.md {
  width: calc(100% - var(--sidebar-width-md));
}

.loadingContainer.isSidebarOpen.lg {
  width: calc(100% - var(--sidebar-width-lg));
}
