.view {
  overflow: visible;
}

.loadingContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.loadingContainer.isSidebarOpen.md {
  width: calc(100% - var(--sidebar-width-md));
}

.loadingContainer.isSidebarOpen.lg {
  width: calc(100% - var(--sidebar-width-lg));
}

.base {
  background-color: var(--background-grey);
}

.base:hover {
  cursor: move;
  cursor: grab;
}

.base:active {
  cursor: grabbing;
}

.canvasControls {
  display: flex;
  width: 100%;
  align-items: center;
}

.controlLabel {
  color: var(--pachyderm-black);
  font-weight: 600;
  margin-bottom: 0;
  margin-left: 0.5rem;
  font-size: var(--font-size-body-medium);
}

.controlButton {
  border: none;
  display: flex;
  align-items: center;
  height: 1.25rem;
  padding: 0;
  background-color: transparent;
  margin-left: 1rem;
}

.controlButton:disabled label {
  color: var(--placeholder-grey);
}

.controlButton:disabled .svgControl {
  cursor: not-allowed;
  fill: var(--placeholder-grey);
}

.svgControl {
  fill: var(--pachyderm-black);
}

.rotateSvg {
  display: inline-block;
  vertical-align: baseline;
}

.controlButton:hover:active:not(:disabled) .svgControl {
  fill: var(--pachyderm-plum);
}

.tooltip {
  white-space: pre-line;
}

.dagError {
  color: var(--error-red);
  font-size: var(--font-size-body-medium);
  font-weight: 600;
  margin-left: 1rem;
}
