.base {
  position: relative;
  margin-left: 1.875rem;
}

.dropdown {
  position: absolute;
  width: 31.25rem;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  border: 1px solid var(--border-grey);
  border-radius: 0px 0px 3px 3px;
  background-color: var(--white);
  box-shadow: 0 1px 2px 0 rgba(184,184,184,0.5);
}

.open {
  opacity: 1;
  visibility: visible;
}
