.base {
  overflow: auto;
  max-height: calc(100vh - var(--header-height));
}

.scrolling {
  flex: 1;
  overflow: auto;
  scrollbar-width: none;
}

.scrolling::-webkit-scrollbar {
  display: none;
}
