apiVersion: app.k8s.io/v1beta1
kind: Application
metadata:
  name: gpu-driver
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: gpu-driver
      app.kubernetes.io/instance: gpu-driver-v1.0.0
      app.kubernetes.io/managed-by: kfctl
      app.kubernetes.io/component: gpu-driver
      app.kubernetes.io/part-of: kubeflow
      app.kubernetes.io/version: v1.0.0
  componentKinds:
  - group: core
    kind: ConfigMap
  - group: apps
    kind: Deployment
  descriptor:
    type: gpu-driver
    version: v1beta1
    description: ""
    maintainers: []
    owners: []
    keywords:
     - gpu-driver
     - kubeflow
    links:
    - description: About
      url: ""
  addOwnerRef: true
