@keyframes pop-in {
  0% {
    transform: scale(0) translateY(100px);
    opacity: 0;
  }
  50% {
    transform: scale(1.05) translateY(-10px);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}

.base {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  text-decoration: none;
  width: auto;
  cursor: pointer;
  outline: none;
  border: none;
  text-align: center;
  height: 2rem;
  white-space: nowrap;
  background-color: transparent;
}

.base > * {
  width: 100%;
  height: 100%;
}

.iconOnly {
  padding: 0.1875rem 0.375rem;
}

.base:not(.iconOnly) {
  padding: 0.28125rem 0.5rem;
  height: 2rem;
}

.base:not(:disabled):focus-visible {
  outline: 2px solid var(--focus-state);
}

.base:not(:disabled):not(.default):hover {
  box-shadow: 0 2px 6px 2px rgba(70, 73, 82, 0.25);
}

.base:disabled {
  cursor: not-allowed;
  box-shadow: none;
}

.default:not(:disabled):hover,
.default:not(:disabled):hover svg {
  color: var(--hover-purple);
}

.primary {
  background-color: var(--default-purple);
  color: var(--white);
}

.primary:not(:disabled):hover {
  background-color: var(--hover-purple);
}

.primary:disabled {
  background-color: var(--disabled-purple);
}

.primary,
.secondary {
  box-shadow: 2px 2px 8px 0 rgba(222, 222, 223, 0.8);
}

.link {
  display: inline-block;
  text-align: center;
}

.link:hover {
  color: var(--white);
  text-decoration: none;
}

.secondary {
  color: var(--default-purple);
  border: 1px solid var(--default-purple);
  background-color: var(--white);
}

.secondary:not(:disabled):hover:not(:focus-visible) {
  border-color: var(--hover-purple);
  outline: none;
}

.secondary:disabled {
  border-color: var(--disabled-purple);
}

.secondary:not(:disabled):focus-visible {
  border-color: transparent;
}

.ghost {
  border: 1px solid transparent;
  color: var(--default-purple);
  background-color: transparent;
}

.ghost:disabled,
.secondary:disabled {
  color: var(--disabled-purple);
}

.ghost.black:disabled {
  color: var(--grey-7);
}

.ghost:not(:disabled):not(.black):hover,
.secondary:not(:disabled):hover {
  color: var(--hover-purple);
}

.ghost:not(.black):not(:disabled):hover:not(:focus-visible) {
  border: 1px solid var(--hover-purple);
}

.ghost.black {
  color: var(--pachyderm-black);
}

.ghost.black:not(:disabled):hover:not(:focus-visible) {
  border: 1px solid var(--pachyderm-black);
}

.buttonGroup {
  display: flex;
  align-items: center;
}

.buttonGroup > .base:not(.ghost):not(:first-child) {
  margin-left: 0.5rem;
}

.buttonGroup > .base:last-child:not(.ghost):not(.iconOnly) {
  margin-right: 0.5rem;
}

.buttonGroup > .base:not(.ghost) + .ghost {
  margin-left: 0.5rem;
}

.tertiary {
  border: 1px solid var(--border-grey);
  background-color: var(--background-black);
  color: var(--white);
}

.tertiary:not(:disabled):hover:not(:focus-visible) {
  background-color: var(--grey-9);
}

.tertiary:not(:disabled):focus-visible {
  border-color: transparent;
}

.tertiary:disabled {
  background-color: var(--disabled-tertiary);
}

.quaternary {
  color: var(--pachyderm-black);
  border: 1px solid var(--border-grey);
  background-color: var(--background-grey);
}

.quaternary:not(:disabled):hover:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

.quaternary:not(:disabled):focus-visible {
  border-color: transparent;
}
