.base {
  background-color: var(--white);
  max-width: 19rem;
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  border-left: solid 1px var(--line-grey);
  pointer-events: all;
}

.base.sm {
  width: var(--sidebar-width-sm);
}

.base.md {
  width: var(--sidebar-width-md);
}

.base.lg {
  width: var(--sidebar-width-lg);
}

.fixed {
  position: fixed;
  right: 0;
  top: var(--header-height);
  bottom: 0;
  max-width: none;
  transform: scaleX(0);
  transform-origin: right;
  transition: width 0.1s ease-out, transform 0.1s ease-out;
}

.fixed.open {
  transform: scaleX(1);
}

.overlay {
  position: fixed;
  width: 100%;
  background-color: var(--border-grey);
  opacity: 0;
  top: var(--header-height);
  left: 0;
  bottom: 0;
  transition: opacity 0.1s;
  pointer-events: all;
}

.overlay.open {
  opacity: 0.3;
}

.closeContainer {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  padding: 1rem 1.375rem;
}

.closeButton {
  display: block;
  margin-left: auto;
}

.closeSvg path {
  fill: var(--placeholder-grey);
}

.dragBar {
  height: 100%;
  width: 0.35rem;
  position: absolute;
  left: -0.35rem;
  z-index: 1;
}

.dragBar:hover {
  background-color: var(--line-grey);
  cursor: ew-resize;
}

.dragBar.active {
  background-color: var(--hover-grey);
  pointer-events: none;
  user-select: none;
}

.resizable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

.resizable.active {
  cursor: ew-resize;
  pointer-events: all;
}
