# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2.1

orbs:
  go: circleci/go@1.6.0

parameters:
  run_flaky_tests:
    type: string
    default: ""
  retain_slots:
    type: string
    default: "0"

jobs:
  circleci:
    parameters:
      bucket:
        type: string
    resource_class: large
    machine:
      image: ubuntu-2004:202101-01
    environment:
      PPS_BUCKETS: "6"
      GOPROXY: https://proxy.golang.org
      BUCKET: << parameters.bucket >>
      BIGQUERY_PROJECT: alysha-dev-006
      BIGQUERY_DATASET: pach_test
      BIGQUERY_TABLE: test_runs
      TEST_RESULTS_BUCKET: pach-test-data
    steps:
      - checkout
      - restore_cache:
         keys:
         - pach-build-dependencies-v2-{{ checksum "etc/testing/circle/install.sh" }}
         - pach-build-dependencies-v2-
      - run: etc/testing/circle/install.sh
      - save_cache:
         key: pach-build-dependencies-v2-{{ checksum "etc/testing/circle/install.sh" }}
         paths:
         - cached-deps/
      - run: etc/testing/circle/start-minikube.sh
      - run: etc/testing/circle/launch-loki.sh

      # The build cache will grow indefinitely, so we rotate the cache once a week.
      # This ensures the time to restore the cache isn't longer than the speedup in compilation.
      - run: "echo $(($(date +%s)/604800)) > current_week"
      - restore_cache:
         keys:
         - pach-go-build-cache-v1-{{ .Branch }}-{{ checksum "current_week" }}
         - pach-go-build-cache-v1-master-{{ checksum "current_week" }}

      # Only restore the module cache based on an exact match for go.sum.
      # This also avoids accumulating old versions of modules over time.
      - restore_cache:
         keys:
         - pach-go-mod-cache-v2-{{ checksum "go.sum" }}
      - run: etc/testing/circle/build.sh
      - when: #Save cache in only one bucket, after build and before running tests, this ensures build cache is saved even when tests fail
          condition:
            equal: [MISC, <<parameters.bucket>> ]
          steps:
            - save_cache:
                key: pach-go-mod-cache-v2-{{ checksum "go.sum" }}
                paths:
                  - /home/circleci/.go_workspace/pkg/mod
            - save_cache:
                key: pach-go-build-cache-v1-{{ .Branch }}-{{ checksum "current_week" }}
                paths:
                  - /home/circleci/.gocache
      - run: etc/testing/circle/launch.sh
      - run: etc/testing/circle/run_tests.sh
      - run: etc/testing/circle/upload_stats.sh
      - run:
          name: Dump debugging info in case of failure
          when: on_fail
          command: etc/testing/circle/kube_debug.sh
      - store_test_results:
          path: /tmp/test-results
      - store_artifacts:
          path: /tmp/test-results
  helm-build:
    docker:
      - image: circleci/golang:1.15
    working_directory: ~/project/etc/helm
    steps:
      - checkout:
          path: ~/project
      - run: mkdir /home/circleci/bin
      - restore_cache:
          keys:
            - go-mod-helm-v4-{{ checksum "go.sum" }}
      - run: wget -q https://get.helm.sh/helm-v3.5.2-linux-amd64.tar.gz -O - | tar -xzO linux-amd64/helm > /home/circleci/bin/helm && chmod +x /home/circleci/bin/helm
      - run: wget -q https://github.com/instrumenta/kubeval/releases/latest/download/kubeval-linux-amd64.tar.gz -O - | tar -xzO kubeval > /home/circleci/bin/kubeval && chmod +x /home/circleci/bin/kubeval
      - run: make lint
      - run: make test
      - run: make kubeval-gcp
      - run: make kubeval-aws
      - save_cache:
          key: go-mod-helm-v4-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg/mod"
  helm-publish:
    docker:
      - image: gcr.io/public-builds/chart-releaser:v1.2.1
    steps:
      - run: wget -q https://get.helm.sh/helm-v3.5.2-linux-amd64.tar.gz -O - | tar -xzO linux-amd64/helm > /usr/local/bin/helm && chmod +x /usr/local/bin/helm
      # Set CR_Token to GH Personal Access Token (Found in pachydermbuildbot GH Acount)
      # The cr index step below will commit back to the repo (via https + GH Token) need to configure git for the commit
      - run: git config --global user.email buildbot@pachyderm.io
      - run: git config --global user.name buildbot
      - run:
          name: Clone Pachyderm
          command: git clone -b ${CIRCLE_TAG} --depth 1 https://github.com/pachyderm/pachyderm.git pachyderm
      - run:
          # the helmchart git repo hosts the helm repository (gh-pages) Chart releaser only supports https clone, not ssh
          name: Clone Helmchart
          command: git clone https://github.com/pachyderm/helmchart.git helmchart
      - run: mkdir -p .cr-release-packages
      - run: helm package -d .cr-release-packages/ pachyderm/etc/helm/pachyderm # cr package did not work with embedded chart
      - run: cr upload -o pachyderm -r helmchart --skip-existing
      - run: cd helmchart && cr index -o pachyderm -r helmchart -c https://helm.pachyderm.com --package-path ../.cr-release-packages --push
  hub:
    resource_class: large
    machine:
      image: ubuntu-2004:202101-01
    steps:
      - checkout
      - run: |
          echo "$DOCKER_PWD" | docker login --username pachydermbuildbot --password-stdin
      - run: etc/testing/circle/run_hub_tests.sh
      - store_artifacts:
          path: /tmp/debug-dump
          destination: debug-dump
  load:
    parameters:
      bucket:
        type: string
    resource_class: large
    machine:
      image: ubuntu-2004:202101-01
    environment:
      BUCKET: << parameters.bucket >>
    steps:
      - checkout
      - run: |
          echo "$DOCKER_PWD" | docker login --username pachydermbuildbot --password-stdin
      - run: 
          command: etc/testing/circle/run_hub_load_tests.sh
          no_output_timeout: 1h 
      - store_artifacts:
          path: /tmp/debug-dump
          destination: debug-dump
  rootless:
    resource_class: large
    machine:
      image: ubuntu-2004:202101-01
    steps:
      - checkout
      - run: etc/testing/circle/install.sh
      - run: etc/testing/circle/rootless_test.sh
  upgrade:
    resource_class: large
    machine:
      image: ubuntu-2004:202101-01
    steps:
      - checkout
      - run: etc/testing/circle/install.sh
      - run: etc/testing/circle/start-minikube.sh
      - run: etc/testing/circle/launch-loki.sh
      - run: etc/testing/circle/upgrade_test.sh

workflows:
  circleci:
    jobs:
      - circleci:
          matrix:
            parameters:
              bucket:
              - MISC
              # If you want to update the number of PPS buckets, you'll neet to
              # update the value of PPS_BUCKETS above
              - AUTH
              - ENTERPRISE
              - PFS
              - PPS1
              - PPS2
              - PPS3
              - PPS4
              - PPS5
              - PPS6
              - EXAMPLES
              - INTERNAL
  helm:
    jobs:
      - helm-build:
          filters:
            # Note: Not ignoring branches, so will be run on branches as well as tags
            tags:
              only: /^v\d+\.\d+\.\d+(-[0-9A-Za-z-]+(\.[0-9A-Za-z-]+)*)?$/
      - helm-publish:
          requires:
            - helm-build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+(-[0-9A-Za-z-]+(\.[0-9A-Za-z-]+)*)?$/
  hub_live_tests:
    jobs:
      - hub
  hub_load_tests:
    triggers:
      - schedule:
          cron: "0 6 * * *"
          filters:
            branches:
              only:
                - master
                - 2.0.x
    jobs:
      - load:
          matrix:
            parameters:
              bucket:
                - LOAD1
                - LOAD2
                - LOAD3
                - LOAD4
                - LOAD5
                - LOAD6
                - LOAD7
                - LOAD8
                - LOAD9
                - LOAD10
  upgrade:
    jobs:
    - upgrade
