.base {
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  font-size: var(--font-size-body-large);
  line-height: 1.5rem;
  background-color: var(--white);
  margin: 2rem;
  border: solid 2px var(--line-grey);
  border-radius: 0.4rem;
  margin-left: 50%;
  transform: translateX(-50%);
  height: calc(100vh  - 200px);
  overflow: auto;
  width: 100%;
  max-width: 1000px;
}
