.base {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.input {
  position: absolute;
  opacity: 0;

  /* Match the sizing from the SVG */
  width: 14px;
  height: 14px;

  /* adjusting for line-height, flex stretch */
  top: 7px;

  cursor: pointer;
}

.checkboxContainer {
  align-self: flex-start;
  flex-shrink: 0;
}

.checkbox > path {
  transition: fill 0.2s;
}

.input:not(:disabled):hover + .checkbox > path {
  fill: var(--hover-plum);
}

.input:not(:disabled):focus + .checkbox > path {
  fill: var(--pachyderm-plum);
}

.label {
  font-size: var(--font-size-body-large);
  margin-left: 0.416rem;
}

.small > .label {
  font-size: var(--font-size-body-medium);
}

.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.input:disabled {
  cursor: not-allowed;
}
