.base {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.input {
  position: absolute;
  opacity: 0;

  /* Match the sizing from the SVG */
  width: 20px;
  height: 20px;

  cursor: pointer;
}

.checkboxContainer {
  align-self: flex-start;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.checkbox > path {
  transition: fill 0.2s;
}

.input:not(:disabled):hover + .checkbox {
  color: var(--hover-plum);
}

.input:not(:disabled):focus + .checkbox {
  color: var(--pachyderm-plum);
}

.label {
  margin-left: 0.416rem;
}

.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.input:disabled {
  cursor: not-allowed;
}

.readOnly, .readOnly * {
  cursor: default;
}
