@keyframes slide-in {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.bodyText,
.bodyErrorText {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: var(--font-size-body-medium);
}

.bodyErrorText {
  font-style: normal;
  color: var(--error-red);
}

.bodyMonoText {
  font-family: var(--font-family-mono);
  color: var(--pachyderm-black);
  font-size: var(--font-size-body-medium);
  background-color: var(--background-blue-light);
}

.bodyMonoBlock {
  font-family: var(--font-family-mono);
  background-color: var(--background-blue-light);
  white-space: nowrap;
  overflow-x: auto;
  padding: 1rem 1.25rem;
  flex: 1;
}

.headingText {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: var(--font-size-header);
}

.slideIn [class$='word'] {
  opacity: 0;
  animation: slide-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-delay: calc(0.1s * var(--line-index) + 1.5s);
  animation-fill-mode: forwards;
}

.captionText {
  font-family: 'Montserrat';
  color: var(--placeholder-grey);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0;
}

.captionTextSmall {
  font-family: 'Montserrat';
  color: var(--placeholder-grey);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.375rem;
  letter-spacing: 0;
}

.bodyText,
.errorText,
.helpText,
.placeholderText {
  font-family: 'Public Sans';
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.437rem;
  letter-spacing: 0.2px;
}

.errorText {
  color: var(--error-red);
}

.helpText {
  font-style: italic;
}

.placeholderText {
  color: var(--placeholder-grey);
}

.fieldText {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 0.75rem;
  line-height: normal;
  letter-spacing: 0;
}

.codeTextLarge,
.codeTextLarge * {
  font-family: 'Menlo';
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.32px;
  color: var(--pachyderm-black);
}

.codeText,
.codeText * {
  font-family: 'Menlo';
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.24px;
  color: var(--pachyderm-black);
}

.codeTextBlock {
  background-color: var(--background-blue-light);
  white-space: nowrap;
  overflow-x: auto;
  padding: 1rem 1.25rem;
  flex: 1;
}
