.base {
  padding: 0 !important;
}

.base [class$='modal-dialog'] {
  margin: 0;
  max-width: 100%;
}

.base [class$='modal-content'] {
  width: 100%;
  height: 100vh;
  margin: 0;
  border: none;
  background-color: var(--white);
  border-radius: 0;
}

.body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cancelButton {
  margin-left: auto;
  margin-top: 1.875rem;
  margin-right: 1.875rem;
}

.header {
  border-bottom: none;
  padding: 0;
}

.close {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  z-index: 1;
}
