.base {
  text-align: center;
  position: relative;
  padding: 0 2rem;
  height: calc(100vh - var(--header-height) - var(--subheader-height));
}

.fileInfo {
  width: 100%;
  text-align: left;
}

.fileText {
  flex: 1;
  margin: 0;
}

.download,
.download:hover {
  text-decoration: none;
  color: var(--white);
}

.preview {
  margin: 2rem;
  text-align: center;
  width: auto;
  min-height: 10rem;
  max-height: calc(
    100vh - var(--header-height) - var(--subheader-height) - 8.25rem
  );
}
