@keyframes pop-in {
  0%{
    transform: scale(0) translateY(100px);
    opacity: 0;
  }
  50%{
    transform: scale(1.05) translateY(-10px);
    opacity: 1;
  }
  100%{
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}

.base {
  box-sizing: border-box;
  border-radius: 3px;
  text-decoration: none;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out,
    border 300ms ease-in-out;
  font-weight: 600;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 0.875rem;
  padding: 0.5rem 1.25rem;
}

.base:focus:not([class$='focus-visible']) {
  outline: none;
}

.popIn {
  transform: scale(0) translateY(100px);
  opacity: 0;
  animation: pop-in 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.primary {
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: var(--pachyderm-plum);
  color: var(--white);
  font-size: 0.875rem;
  padding: 0.5rem 1.25rem;
}

.primary:not(:disabled):hover,
.primary:focus {
  background-color: var(--hover-plum);
}

.primary:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.link {
  display: inline-block;
  text-align: center;
}

.link:hover {
  color: var(--white);
  text-decoration: none;
}

.secondary {
  color: var(--pachyderm-plum);
  border: 1px solid var(--pachyderm-plum);
  background-color: #ffffff;
}

.secondary:not(:disabled):hover,
.secondary:focus {
  border-color: var(--hover-plum);
  color: var(--hover-plum)
}

.link.tertiary:hover {
  color: var(--hover-coral);
}

.tertiary {
  color: var(--pachyderm-coral);
  border: 1px solid var(--pachyderm-coral);
  background-color: #ffffff;
}

.tertiary:not(:disabled):hover,
.tertiary:focus {
  border-color: var(--hover-coral);
  color: var(--hover-coral)
}

.autoHeight {
  height: auto;
}

.autoSize {
  height: auto;
  width: auto;
}

.autoWidth {
  width: auto;
}


