.dots {
  width: calc(100% - 1.5rem);
  position: absolute;
  text-align: center;
  bottom: -2.5rem;
  margin: 0;
}

.dot {
  font-size: 0.6875rem;
  color: var(--dropshadow-grey);
  margin: 0.5rem;
}

.dot.active {
  color: var(--white);
}

.footer {
  border-top: 1px solid var(--grey-20);
}
  
.base[class$='modal-footer'] {
  height: 5.625rem;
  display: flex;
  align-items: center;
  padding: 1rem;
}
  
.base[class$='modal-footer'] > * {
  margin: 0;
}
