.base {
  padding-left: 2rem;
  padding-right: 5.4375rem;
  padding-bottom: 1.5rem;
  padding-top: 3.5rem;
  border-bottom: 1px solid var(--line-grey);
}

.label {
  font-weight: 600;
  margin-bottom: 1.25rem;
}
