.base {
  display: flex;
  border-radius: 2.4px;
  background-color: var(--background-blue);
  padding: 0.5rem 0.5rem 1rem 1rem;
  flex-direction: column;
}

.infoWrapper {
  flex-grow: 1;
}

.info {
  width: 100%;
}

.name {
  font-size: 1rem;
  color: var(--pachyderm-black);
}

.sizeGroup {
  margin-top: 0.5rem;
}

.size {
  font-size: 0.875rem;
  color: var(--pachyderm-black);
}

.cancelButton {
  border: none;
  display: flex;
  align-items: center;
  padding: 0;
  background-color: transparent;
  align-self: flex-end;
  opacity: 0.5;
}

.loading {
  font-style: italic;
  color: #0F1012;
}
