{{ template "header.html" . }}

<div class="theme-panel">
  <h2 class="theme-heading">Grant Access</h2>

  <div>
    <div>{{ .Client }} would like to:</div>
    <ul class="dex-list">
      {{ range $scope := .Scopes }}
      <li>{{ $scope }}</li>
      {{ end }}
    </ul>
  </div>

  <div class="theme-submit-row">
    <form method="post">
      <input type="hidden" name="req" value="{{ .AuthReqID }}"/>
      <input type="hidden" name="approval" value="rejected">
      <button type="submit" class="dex-btn theme-btn-link">
        <span class="dex-btn-text">Cancel</span>
      </button>
    </form>

    <form method="post">
      <input type="hidden" name="req" value="{{ .AuthReqID }}"/>
      <input type="hidden" name="approval" value="approve">
      <button type="submit" class="dex-btn theme-btn--success">
        <span class="dex-btn-text">Grant Access</span>
      </button>
    </form>
  </div>

</div>

{{ template "footer.html" . }}
