.base {
  position: relative;
  background-color: var(--background-pink);
  color: var(--error-red);
  font-size: var(--font-size-body-medium);
  padding: 1.5rem 0;
}

.exclamation {
  margin-right: 0.5rem;
}

.content {
  padding: 0 2.5rem;
  display: flex;
  align-items: center;
}
