.base {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  color: var(--pachyderm-black);
  font-weight: 600;
  font-size: var(--font-size-body-medium);
  padding: 0;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.base:not(:disabled):hover {
  color: var(--pachyderm-plum);
}

.base:not(:disabled):hover .icon path {
  fill: var(--pachyderm-plum);
}

.disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.children {
  overflow: hidden;
  text-overflow: ellipsis;
}

.hideChevron .children {
  width: 100%;
}

.icon {
  margin-left: 0.25rem;
  min-width: 0.875rem;
}

.icon path {
  fill: var(--pachyderm-black);
}

.purple {
  color: var(--pachyderm-plum);
}

.purple .icon path {
  fill: var(--pachyderm-plum);
}
