.base {
  position: relative;
  padding-left: 1rem;
  border-left: 1px solid var(--placeholder-grey);
}

.healthyContainer {
  color: var(--white);
  display: flex;
  gap: 0.2rem;
}

.icon {
  margin-top: 0.1rem;
}

.loadingContainer {
  height: 1rem;
  width: 1rem;
  position: absolute;
  right: 2rem;
}
