.base {
  border-bottom: 1px solid var(--grey-20);
  border-top: 1px solid var(--grey-20);
  box-sizing: border-box;
}

.title {
  padding: 2rem 0 2rem 2rem;
  display: flex;
  color: var(--grey-10);
  box-sizing: border-box;
}

.documentSvg {
  margin-right: 1rem;
}
