.communityEditionBanner {
  height: 3rem;
  width: 100%;
  box-shadow: 0px -1px 5px rgba(14, 14, 15, 0.15),
    0px -1px 2px rgba(14, 14, 15, 0.15);
  display: flex;
  align-items: center;
  background-color: var(--white);
  z-index: var(--z-index-application-banner);
  white-space: nowrap;
  overflow-x: clip;
}

.limits {
  flex: 1;
}

.license {
  margin: 0.75rem 0.5rem 0.75rem 2rem;
  padding-right: 0.5rem;
  border-right: 1px solid var(--border-grey);
}

.rightAlign {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.limitReached {
  background-color: var(--background-pink);
}

.limitMessage {
  color: var(--error-red);
  margin-right: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
