.terminal {
  background-color: var(--black);
  padding: 2rem;
  box-sizing: border-box;
  border: 1px solid var(--grey-20);
}

.terminalContent {
  overflow-x: hidden;
  overflow-y: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 0.5rem 0 0 2.25rem;
  display: flex;
  flex-direction: column;
}

.terminalCommand {
  display: flex;
  color: var(--white);
}

.terminalCommand > .terminalSVG {
  margin-right: 1rem;
}

.terminalCommand > .terminalSVG *, .terminalContent > span, .terminalContent {
  color: var(--white);
}
