[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
mkdocs = ">=1.1"
mkdocs-exclude = "*"
pymdown-extensions = ">=7.0"
markdown-include = "*"
Pygments = ">=2.4"
markdown = ">=3.2"
mdx_truly_sane_lists = ">=1.2"
mkdocs-git-revision-date-localized-plugin = "*"
mkdocs-pachyderm = ">=1.2.7"
mkdocs-minify-plugin = "*"

[dev-packages]

[requires]
python_version = "3.8"
