mkdocs>=1.1
Pygments>=2.4
markdown>=3.2
pymdown-extensions>=7.0
mkdocs-material-extensions>=1.0
mkdocs-pachyderm>=1.2.7
mdx_truly_sane_lists>=1.2
mkdocs-minify-plugin>=0.3.0
mkdocs-git-revision-date-localized-plugin>=0.7
mkdocs-exclude>=1.0.2
