@keyframes minimize {
  0% {
    top: 1.375rem;
  }
  100% {
    top: calc(100% - 3rem);
  }
}

@keyframes maximize {
  0% {
    top: calc(100% - 3rem);
  }
  100% {
    top: 1.375rem;
  }
}

.overlay {
  position: absolute;
  z-index: var(--z-index-modal-overlay);
  background: var(--pachyderm-black);
  opacity: 0.5;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.maximize {
  animation: maximize 1s forwards;
}

.minimize {
  animation: minimize 1s forwards;
}

.minimize .body {
  overflow: hidden;
  border-radius: 3px 3px 0px 0px;
  border-bottom: 0px;
}

.modal {
  position: absolute;
  top: 0;
  right: 2rem;
  bottom: 0;
  left: 2rem;
  display: flex;
  flex-direction: column;
  z-index: var(--z-index-modal);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(-1rem - 4px);
  padding: 0 2rem;
}

.rightButtons {
  z-index: 10;
}

.button {
  z-index: 10;
  width: auto;
}

.button + .button {
  margin-left: 1rem;
}

.button:disabled {
  background-color: var(--plum-5);
  opacity: 1;
}

.buttonBackground {
  width: 100%;
  height:100%;
  z-index: 10;
  background-color: #fff;
}

.body {
  border-radius: 3px;
  border: 1px solid var(--grey-4);
  background-color:var(--white);
  overflow-y: scroll;
  height: calc(100% - 1rem);
  display: grid;
  grid-template-columns: auto auto;
}

.content {
  padding: 5rem 11.5rem;
}

.section {
  margin-bottom: 6rem;
}
.headerInfo {
  padding: 0 2rem;
  margin-bottom: 3rem;
}

.followUp {
  padding: 2rem 2rem 0 2rem;;
}

.sectionHeader {
  margin-bottom: 3rem;
  color: var(--grey-10);
  display: block;
}

.sectionSubHeader {
  color: var(--grey-10);
  margin-bottom: 1.5rem;
  display: block;
}


@keyframes miniTaskOpen {
  0% {
    left: calc(-100% + 2rem);
  }
  1% {
    left: 0;
  }
  50% {
    left: 0;
  }
  51% {
    left: calc(-100% + 2rem);
  }
}

.miniTaskOpen {
  animation: miniTaskOpen 60s forwards 0.5s;
}

.miniTask {
  left: calc(-100% + 2rem);
  background-color: var(--grey-1);
  border: 1px solid var(--grey-4);
  border-radius: 3px;
  padding: 1.5rem 4rem 1.5rem 1rem;
  width: 21.5rem;
  position: absolute;
  bottom: 4rem;
}

.rightArrow {
  margin-left: 1rem
}

.rightArrow path + path {
  fill: var(--white)
}

.minimizeSVG {
  margin-right: 1rem;
}

.pauseIcon path:last-of-type {
  fill: var(--pachyderm-plum)
}

.storyProgressWrapper {
  background-color: var(--white);
  border: solid 1px var(--border-grey);
  z-index: 10;
  padding: 0rem 1rem;
  display: inline-flex;
  align-items: center;
  border-radius: 3px;
}
