.base {
  height: calc(100vh - 2rem);
  background-color: var(--background-grey);
  display: flex;
  flex-direction: column;
}

.header {
  margin: 1rem;
  margin-bottom: 2.25rem;
  display: inline-flex;
  justify-content: space-between;
}
