.button {
  width: 10rem;
  height: 2.625rem
}

.row {
  border-radius: 3px;
  height: 7.875rem;
  width: 100%;
  font-size: var(--font-size-body-medium);
  filter: drop-shadow(0 1px 1px var(--border-grey));
}

.rowHover:hover {
  cursor: pointer;
  filter: drop-shadow(0 2px 4px var(--border-grey));
}

.row td {
  background-color: var(--white);
  padding: 1.5rem 2rem;
}

.row td:first-child {
  padding-left: 1.5rem;
  border-radius: 3px 0 0 3px;
}

.row td:last-child {
  padding-right: 1.5rem;
  border-radius: 0 3px 3px 0;
}

.title {
  color: var(--pachyderm-black);
  font-size: 1rem;
  line-height: 25px;
}

.row.HEALTHYSelected td:first-child {
  border-left: solid 6px var(--banner-green);
  padding-left: calc(1.5rem - 6px);
}
.row.UNHEALTHYSelected td:first-child {
  border-left: solid 6px var(--error-red);
  padding-left: calc(1.5rem - 6px);
}
