.button {
  white-space: nowrap;
}

.row {
  border-radius: 3px;
  height: 10rem;
  width: 100%;
  filter: drop-shadow(0 1px 1px var(--border-grey));
}

.rowHover:hover {
  cursor: pointer;
  filter: drop-shadow(0 2px 4px var(--border-grey));
}

.row td {
  background-color: var(--white);
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 3px;
  border-left: solid 6px var(--white);
}

/* stylelint-disable-next-line selector-class-pattern */
.row.HEALTHYSelected td {
  border-left: solid 6px var(--banner-green);
}

/* stylelint-disable-next-line selector-class-pattern */
.row.UNHEALTHYSelected td {
  border-left: solid 6px var(--error-red);
}

@media screen and (max-width: 1024px) {
  .responsiveHide {
    display: none !important;
  }
}
