.loadingContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.loadingContainer.isSidebarOpen {
  width: calc(100% - var(--sidebar-width-md));
}

.base {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dagContainer {
  position: relative;
  flex: 1;
}
