.base {
  font-size: var(--font-size-body-medium);
  overflow-x: hidden;
  background: var(--white);
}

.multiDag {
  box-shadow: 0 1px 2px 0 var(--border-grey);
  border-radius: 3px;
  margin-bottom: 1.25rem;
}

.graph {
  transform-box: fill-box;
  transform-origin: center;
}

:global(.borderRect) {
  fill: transparent;
  cursor: pointer;
}
