.loadingContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.loadingContainer.isSidebarOpen {
  width: calc(100% - var(--sidebar-width-md));
}

.base {
  width: 100%;
}

.dagContainer {
  position: relative;
}
