.base {
  color: var(--pachyderm-black);
  margin-right: 0.25rem;
}

.copy {
  display: flex;
  max-width: 100%;
}

.copy,
.copy:hover,
.copy:focus {
  color: var(--pachyderm-black) !important;
}

.icon {
  min-width: 1rem;
}

.inline {
  display: inline-flex;
}
