.base {
  color: var(--pachyderm-black);
  margin-right: 0.25rem;
}

.copy {
  display: inline-flex;
  align-items: center;
}

.copy, .copy:hover, .copy:focus {
  color: var(--pachyderm-black) !important;
}

.icon {
  /* color: var(--pachyderm-plum); */
}
