.info {
  padding: 2rem;
  background-color: var(--cyan-10);
  border-radius: 3px;
  display: flex;
  margin: 1rem 0;
  overflow: hidden;
}

.infoLine {
  display: flex;
  margin-top: 0.5rem;
  overflow: hidden;
}

.infoLine :first-child {
  overflow: hidden;
}

.infoContent {
  padding: 0 1rem;
  font-size: 0.875rem;
  overflow: hidden;
}

.infoHeader {
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.link {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.linkSVG {
  margin-left: 1rem;
}

.card {
  box-shadow: 0px 1px 4px 1px var(--dropshadow);
  font-size: 0.875rem;
  margin: 1rem 0;
}

.headerText {
  padding: 1.5rem 0 1.5rem 2rem;
  font-weight: 700;
}

.subheaderText {
  padding: 0 0 1.5rem 2rem;
}

.survey {
  background-color: var(--grey-1);
  padding: 2rem;
}

