.bodyHeader {
  display: flex;
  align-self: flex-start;
  align-items: center;
  width: 100%;
  background-color: var(--background-grey);
  box-shadow:
    inset 0 1px 0 0 var(--border-grey),
    inset 0 -1px 0 0 var(--border-grey);

  height: 2.5rem;
}

.timestampHeader {
  display: flex;
  align-self: flex-start;
  align-content: center;
  align-items: center;
  padding-left: 2rem;
  min-width: 14rem;
  height: 100%;
}

.checkbox {
  margin: 0;
}

.timestampText {
  padding-left: 1rem;
  width: 10rem;
}
