.base {
  background-color: var(--background-grey);
  box-shadow:
    inset 0 1px 0 0 var(--border-grey),
    inset 0 -1px 0 0 var(--border-grey);
  text-transform: capitalize;
  padding: 0 1rem;
  height: 2.5rem;
  white-space: nowrap;
}

.text {
  color: var(--pachyderm-black);
}

.rightAligned {
  text-align: right;
}

.sortHeader:hover {
  cursor: pointer;
}

.wrapperButton {
  border: none;
  background: none;
  padding-left: 0;
  text-transform: capitalize;
  color: var(--pachyderm-black);
  padding-bottom: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.wrapperButton:focus:not([class$='focus-visible']) {
  outline: none;
}
