.taskList {
  margin-top: 1.5rem;  
}

.taskItem {
  position: relative;
  margin-bottom: 2rem;
}

.taskItem::after {
  content: '';
  left: 5px;
  top: 20px;
  width: 1px;
  height: calc(100% + 18px);
  border: 2px dashed #DDDEE0; /* This is listed as grey-2 but there is already a grey-2*/
  position: absolute;
}

.taskItem:last-child::after {
  display: none;
}
