/* stylelint-disable selector-class-pattern */
.base {
  border: solid 2px var(--line-grey);
  background-color: var(--white);
  margin: 0.5rem;
  width: 23.8125rem;
  border-radius: 0.1875rem;
  display: inline-block;
  position: relative;
}

.base.ADDED, .base.UPDATED {
  border-bottom: solid 4px var(--banner-green);
}

.commitStatus {
  align-self: flex-end;
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}

.commitStatus.ADDED {
  background-color: var(--background-green-light);
  color: var(--icon-green);
}

.commitStatus.UPDATED, .commitStatus.UPDATED svg {
  background-color: var(--background-blue);
  color: var(--chart-dark-blue);
}

.commitStatusIcon {
  margin-right: 0.5rem;
}

.content {
  display: inline-flex;
  width: 100%;
  padding: 1rem;
}

.fileIcon {
  width: 4rem;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}

.fileInfo {
  flex: 1;
  overflow: hidden;
}

.fileName {
  overflow: hidden;
  text-overflow: ellipsis;
}

.fileText {
  margin: 0;
  margin-top: 0.25rem;
}

.actions {
  padding: 0.75rem 1rem;
  border-top: solid 1px var(--line-grey);
  width: 100%;
  justify-content: flex-end;
}
