.base {
  background-color: var(--background-black);
  border: none;
  color: var(--white);
  padding: 0.5rem 1rem;
  display: inline-flex;
  align-items: center;
  width: 100%;
  text-align: left;
}

.base:hover {
  background-color: var(--grey-9);
}

.content {
  flex: 1;
  margin-right: 1rem;
}

.content span {
  color: white;
}
