.base {
  width: 8rem;
  border: solid 1px var(--border-grey);
  border-radius: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 1.5rem;
  padding: 0rem 0.25rem 0rem 0.5rem;
  margin-right: 0.25rem;
  margin-top: 3px;
  vertical-align: middle;
}

.onDelete:hover {
  cursor: pointer;
}

.locked:hover {
  cursor: not-allowed;
}
