.base {
  font-size: var(--font-size-body-medium);
  padding: 1.5rem;
}

.rightAligned {
  text-align: right;
}

.base:first-child {
  padding-left: calc(var(--padding-view-x) + 1.875rem);
}

.base:last-child {
  padding-right: 1.5rem;
}

@media (--medium-viewport) {
  .base:first-child {
    padding-left: calc(var(--padding-view-x-sm) + 1.875rem);
  }
}

