@keyframes scaleDown {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}

.link {
  stroke: var(--grey-7);
  stroke-width: 1px;
  marker-end: url(#end-arrow);
  stroke-linejoin: bevel;
}

.circle {
  fill: var(--success-green);
  animation: scaleDown linear 0.8s infinite;
}
