/* This breaks the DAG at scale */
/* @keyframes scaleDown {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
} */

.link {
  stroke: var(--grey-7);
  stroke-width: 1px;
  marker-end: url(#end-arrow);
  stroke-linejoin: bevel;
}

.crossProject {
  stroke-dasharray: 0.25rem;
}

.circle {
  fill: var(--success-green);
  /* this animation does not work in firefox */
  animation: scaleDown linear 0.8s infinite;
}

@-moz-document url-prefix() {
  .circle {
    animation: none;
  }
}
