.link {
  stroke: var(--grey-4);
  stroke-width: 2px;
  marker-end: url(#end-arrow);
  stroke-linejoin: bevel;
}

.group:hover {
  cursor: pointer;
}

.group:hover .link {
  stroke: var(--background-black);
  marker-end: url(#end-arrow-active);
}

.crossProject {
  stroke-dasharray: 0.25rem;
}

.transferring {
  stroke: var(--cyan-30);
  stroke-width: 2px;
  stroke-linejoin: bevel;
  marker-end: url(#end-arrow-transferring);
}

.highlightLink {
  stroke: var(--focus-state);
  marker-end: url(#end-arrow-highlighted);
}

.circle {
  filter: blur(2px);
  fill: #007304;
}

@-moz-document url-prefix() {
  .circle {
    filter: none;
  }
}
