.base {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.heading {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
}

.jobLabel {
  margin-right: 0.25rem;
}

.headerSection {
  min-height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 1rem;
}

.seeMoreJobs {
  display: inline-block;
  align-items: center;
  padding-right: 0.25rem;
}

.pipelineSection {
  display: flex;
  flex: 1;
  border-top: 1px solid var(--line-grey);
  overflow: hidden;
  padding: 0;
}

.pipelineSpec {
  flex: 3;
  overflow: hidden;
  border-left: 1px solid var(--line-grey);
  min-width: 16rem;
}

.backArrow {
  transform: rotate(-90deg);
  margin-left: -0.875rem;
  margin-right: 0.3125rem;
}
