.dashboard {
  margin-left: 0.5rem;
  height: 1.25rem;
  width: 5.875rem;
  color: var(--white);
  display: inline-block;
}

a.logo {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}
