[Unit]
Description = pfs announce: master
PartOf = master-8-40.service
BindsTo = master-8-40.service

[Service]
ExecStart = /bin/sh -c "while true; do etcdctl set /pfs/master/8-40 '%H:49834' --ttl 60;sleep 45;done"
ExecStop = /usr/bin/etcdctl rm /pfs/master/8-40

[X-Fleet]
MachineOf = master-8-40.service
