[Unit]
Description = pfs announce: master
PartOf = master-26-40.service
BindsTo = master-26-40.service

[Service]
ExecStart = /bin/sh -c "while true; do etcdctl set /pfs/master/26-40 '%H:63908' --ttl 60;sleep 45;done"
ExecStop = /usr/bin/etcdctl rm /pfs/master/26-40

[X-Fleet]
MachineOf = master-26-40.service
