[Unit]
Description = pfs announce: master
PartOf = master-1-3.service
BindsTo = master-1-3.service

[Service]
ExecStart = /bin/sh -c "while true; do etcdctl set /pfs/master/1-3 '%H:53784' --ttl 60;sleep 45;done"
ExecStop = /usr/bin/etcdctl rm /pfs/master/1-3

[X-Fleet]
MachineOf = master-1-3.service
