[Unit]
Description = pfs announce: master
PartOf = master-4-40.service
BindsTo = master-4-40.service

[Service]
ExecStart = /bin/sh -c "while true; do etcdctl set /pfs/master/4-40 '%H:49473' --ttl 60;sleep 45;done"
ExecStop = /usr/bin/etcdctl rm /pfs/master/4-40

[X-Fleet]
MachineOf = master-4-40.service
