[Unit]
Description = pfs announce: master
PartOf = master-32-40.service
BindsTo = master-32-40.service

[Service]
ExecStart = /bin/sh -c "while true; do etcdctl set /pfs/master/32-40 '%H:53882' --ttl 60;sleep 45;done"
ExecStop = /usr/bin/etcdctl rm /pfs/master/32-40

[X-Fleet]
MachineOf = master-32-40.service
