[Unit]
Description = pfs announce: master
PartOf = master-37-40.service
BindsTo = master-37-40.service

[Service]
ExecStart = /bin/sh -c "while true; do etcdctl set /pfs/master/37-40 '%H:62752' --ttl 60;sleep 45;done"
ExecStop = /usr/bin/etcdctl rm /pfs/master/37-40

[X-Fleet]
MachineOf = master-37-40.service
