[Unit]
Description = pfs announce: master
PartOf = master-4-22.service
BindsTo = master-4-22.service

[Service]
ExecStart = /bin/sh -c "while true; do etcdctl set /pfs/master/4-22 '%H:58787' --ttl 60;sleep 45;done"
ExecStop = /usr/bin/etcdctl rm /pfs/master/4-22

[X-Fleet]
MachineOf = master-4-22.service
