[Unit]
Description = pfs announce: master
PartOf = master-29-40.service
BindsTo = master-29-40.service

[Service]
ExecStart = /bin/sh -c "while true; do etcdctl set /pfs/master/29-40 '%H:56572' --ttl 60;sleep 45;done"
ExecStop = /usr/bin/etcdctl rm /pfs/master/29-40

[X-Fleet]
MachineOf = master-29-40.service
