[Unit]
Description = pfs announce: master
PartOf = master-18-22.service
BindsTo = master-18-22.service

[Service]
ExecStart = /bin/sh -c "while true; do etcdctl set /pfs/master/18-22 '%H:49339' --ttl 60;sleep 45;done"
ExecStop = /usr/bin/etcdctl rm /pfs/master/18-22

[X-Fleet]
MachineOf = master-18-22.service
