[Unit]
Description = pfs announce: master
PartOf = master-36-40.service
BindsTo = master-36-40.service

[Service]
ExecStart = /bin/sh -c "while true; do etcdctl set /pfs/master/36-40 '%H:56447' --ttl 60;sleep 45;done"
ExecStop = /usr/bin/etcdctl rm /pfs/master/36-40

[X-Fleet]
MachineOf = master-36-40.service
