[Unit]
Description = pfs announce: master
PartOf = master-15-40.service
BindsTo = master-15-40.service

[Service]
ExecStart = /bin/sh -c "while true; do etcdctl set /pfs/master/15-40 '%H:53213' --ttl 60;sleep 45;done"
ExecStop = /usr/bin/etcdctl rm /pfs/master/15-40

[X-Fleet]
MachineOf = master-15-40.service
