[Unit]
Description = pfs announce: master
PartOf = master-35-40.service
BindsTo = master-35-40.service

[Service]
ExecStart = /bin/sh -c "while true; do etcdctl set /pfs/master/35-40 '%H:56855' --ttl 60;sleep 45;done"
ExecStop = /usr/bin/etcdctl rm /pfs/master/35-40

[X-Fleet]
MachineOf = master-35-40.service
