[Unit]
Description = pfs announce: master
PartOf = master-8-22.service
BindsTo = master-8-22.service

[Service]
ExecStart = /bin/sh -c "while true; do etcdctl set /pfs/master/8-22 '%H:51579' --ttl 60;sleep 45;done"
ExecStop = /usr/bin/etcdctl rm /pfs/master/8-22

[X-Fleet]
MachineOf = master-8-22.service
