[Unit]
Description = pfs announce: master
PartOf = master-5-22.service
BindsTo = master-5-22.service

[Service]
ExecStart = /bin/sh -c "while true; do etcdctl set /pfs/master/5-22 '%H:51310' --ttl 60;sleep 45;done"
ExecStop = /usr/bin/etcdctl rm /pfs/master/5-22

[X-Fleet]
MachineOf = master-5-22.service
