[Unit]
Description = pfs announce: master
PartOf = master-14-22.service
BindsTo = master-14-22.service

[Service]
ExecStart = /bin/sh -c "while true; do etcdctl set /pfs/master/14-22 '%H:49942' --ttl 60;sleep 45;done"
ExecStop = /usr/bin/etcdctl rm /pfs/master/14-22

[X-Fleet]
MachineOf = master-14-22.service
