[Unit]
Description = pfs announce: master
PartOf = master-9-22.service
BindsTo = master-9-22.service

[Service]
ExecStart = /bin/sh -c "while true; do etcdctl set /pfs/master/9-22 '%H:57836' --ttl 60;sleep 45;done"
ExecStop = /usr/bin/etcdctl rm /pfs/master/9-22

[X-Fleet]
MachineOf = master-9-22.service
