[Unit]
Description = pfs announce: master
PartOf = master-25-40.service
BindsTo = master-25-40.service

[Service]
ExecStart = /bin/sh -c "while true; do etcdctl set /pfs/master/25-40 '%H:50714' --ttl 60;sleep 45;done"
ExecStop = /usr/bin/etcdctl rm /pfs/master/25-40

[X-Fleet]
MachineOf = master-25-40.service
