[Unit]
Description = pfs announce: master
PartOf = master-10-40.service
BindsTo = master-10-40.service

[Service]
ExecStart = /bin/sh -c "while true; do etcdctl set /pfs/master/10-40 '%H:49180' --ttl 60;sleep 45;done"
ExecStop = /usr/bin/etcdctl rm /pfs/master/10-40

[X-Fleet]
MachineOf = master-10-40.service
