[Unit]
Description = pfs announce: master
PartOf = master-1-40.service
BindsTo = master-1-40.service

[Service]
ExecStart = /bin/sh -c "while true; do etcdctl set /pfs/master/1-40 '%H:64982' --ttl 60;sleep 45;done"
ExecStop = /usr/bin/etcdctl rm /pfs/master/1-40

[X-Fleet]
MachineOf = master-1-40.service
