[Unit]
Description = pfs announce: master
PartOf = master-21-40.service
BindsTo = master-21-40.service

[Service]
ExecStart = /bin/sh -c "while true; do etcdctl set /pfs/master/21-40 '%H:49401' --ttl 60;sleep 45;done"
ExecStop = /usr/bin/etcdctl rm /pfs/master/21-40

[X-Fleet]
MachineOf = master-21-40.service
