[Unit]
Description = pfs announce: master
PartOf = master-10-12.service
BindsTo = master-10-12.service

[Service]
ExecStart = /bin/sh -c "while true; do etcdctl set /pfs/master/10-12 '%H:63448' --ttl 60;sleep 45;done"
ExecStop = /usr/bin/etcdctl rm /pfs/master/10-12

[X-Fleet]
MachineOf = master-10-12.service
