[Unit]
Description = pfs announce: master
PartOf = master-7-40.service
BindsTo = master-7-40.service

[Service]
ExecStart = /bin/sh -c "while true; do etcdctl set /pfs/master/7-40 '%H:62005' --ttl 60;sleep 45;done"
ExecStop = /usr/bin/etcdctl rm /pfs/master/7-40

[X-Fleet]
MachineOf = master-7-40.service
