[Unit]
Description = pfs announce: master
PartOf = master-17-40.service
BindsTo = master-17-40.service

[Service]
ExecStart = /bin/sh -c "while true; do etcdctl set /pfs/master/17-40 '%H:56703' --ttl 60;sleep 45;done"
ExecStop = /usr/bin/etcdctl rm /pfs/master/17-40

[X-Fleet]
MachineOf = master-17-40.service
