[Unit]
Description = pfs announce: master
PartOf = master-3-12.service
BindsTo = master-3-12.service

[Service]
ExecStart = /bin/sh -c "while true; do etcdctl set /pfs/master/3-12 '%H:58873' --ttl 60;sleep 45;done"
ExecStop = /usr/bin/etcdctl rm /pfs/master/3-12

[X-Fleet]
MachineOf = master-3-12.service
