[Unit]
Description = pfs service: gitdaemon

[Service]
ExecStart = /usr/bin/git daemon --base-path=. --export-all --enable=receive-pack --reuseaddr --informative-errors --verbose

[X-Fleet]
Global=true
