[Unit]
Description = pfs service: registry
After = docker.service
Requires = docker.service

[Service]
ExecStartPre = -/bin/sh -c "echo $(docker kill registry)"
ExecStartPre = -/bin/sh -c "echo $(docker rm registry)"
ExecStart = /bin/sh -c "echo $(docker run \
            --name registry \
            -e SETTINGS_FLAVOR=s3 \
            -e AWS_BUCKET=`etcdctl get /pfs/creds/IMAGE_BUCKET` \
            -e STORAGE_PATH=/registry \
            -e AWS_KEY=`etcdctl get /pfs/creds/AWS_ACCESS_KEY_ID` \
            -e AWS_SECRET=`etcdctl get /pfs/creds/AWS_SECRET_ACCESS_KEY` \
            -e SEARCH_BACKEND=sqlalchemy \
            -p 5000:5000 \
            registry)"
ExecStop = /bin/sh -c "echo $(docker rm -f registry)"
