[Unit]
Description= pfs service: router
After = docker.service
Requires = docker.service

[Service]
TimeoutStartSec = 300
ExecStartPre = /bin/sh -c "echo $(-docker kill router)"
ExecStartPre = /bin/sh -c "echo $(-docker rm router)"
ExecStartPre = /bin/sh -c "echo $(docker pull `etcdctl get /pfs/registry`/pfs)"
ExecStart = /bin/sh -c "echo $(docker run --name router -p 80:80 -i `etcdctl get /pfs/registry`/pfs /go/bin/router 40)"
ExecStop = /bin/sh -c "echo $(docker rm -f router)"

[X-Fleet]
Global=true
