.base {
  background-color: var(--background-grey);
  display: flex;
  flex: 1;
}

.table {
  width: 100%;
  border-collapse: separate; 
  border-spacing: 0 1rem;
}

.tableWrapper {
  background-color: var(--background-grey);
  padding-left: 2rem;
  padding-right: 1rem;
  width: 100%;
}
