{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "PokeHoleForCloudfrontOAI",
            "Effect": "Allow",
            "Principal": {
                "CanonicalUser": "XXCLOUDFRONT_OAI_CANONICALXX"
            },
            "Action": "s3:GetObject",
            "Resource": "arn:aws:s3:::XXBUCKET_NAMEXX/*"
        }
    ]
}
