.base {
  text-align: center;
  position: relative;
  padding: 0 1rem;
  height: calc(100vh - var(--header-height) - var(--subheader-height));
  overflow-y: auto;
}

.header {
  width: 100%;
}

.title {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;
  column-gap: 1rem;
  text-align: left;
}

.metaData {
  margin-top: 1rem;
}

.description {
  text-align: left;
}

.download,
.download:hover {
  text-decoration: none;
  color: var(--white);
}

.preview {
  margin: 2rem;
  text-align: center;
  max-width: calc(100% - 4rem);
  min-height: 10rem;
  max-height: calc(
    100vh - var(--header-height) - var(--subheader-height) - 8.25rem
  );
}

.filePath {
  word-break: break-all;
}
