{{- if .Values.oidc.deployDex }}
{{- /*
  SPDX-FileCopyrightText: Pachyderm, Inc. <info@pachyderm.com>
  SPDX-License-Identifier: Apache-2.0
*/ -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-dex
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}-dex
    release: {{ .Release.Name }}
    release-namespace: {{ .Release.Namespace }}
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: {{ .Release.Name }}-dex
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-dex
    spec:
      containers:
      - args:
        - dex
        - serve
        - --web-http-addr
        - 0.0.0.0:5556
        - --telemetry-addr
        - 0.0.0.0:5558
        - /etc/dex/config.yaml
        image: ghcr.io/dexidp/dex:v2.41.1
        imagePullPolicy: IfNotPresent
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /healthz/live
            port: telemetry
            scheme: HTTP
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        name: dex
        ports:
        - containerPort: 5556
          name: http
          protocol: TCP
        - containerPort: 5558
          name: telemetry
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /healthz/ready
            port: telemetry
            scheme: HTTP
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        resources: {}
        securityContext: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /etc/dex
          name: config
          readOnly: true
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      serviceAccountName: {{ .Release.Name }}-dex
      terminationGracePeriodSeconds: 30
      volumes:
      - name: config
        configMap:

        secret:
          defaultMode: 420
          secretName: {{ .Release.Name }}-dex
{{- end }}