# These can be found in the Hub vault
CYPRESS_TEST_USER_PASSWORD=
CYPRESS_CLIENT_SECRET=
# If using a hub cluster this can be found in the workspaces response
REACT_APP_PACHD_ADDRESS=
# Can be found in the localStorage of Dash for a hub cluster
REACT_APP_PACHD_AUTH=
