.taskCard {
  border: 1px solid var(--grey-20);
  box-shadow: 0px 1px 4px 1px var(--dropshadow);
  box-sizing: border-box;
}

.task {
  margin-bottom: 1.5rem;
}

.taskHeader {
  display: flex;
  justify-content: space-between;
}

.headerComplete {
  margin-right: -2rem;
}

.taskHeaderWrapper {
  padding: 2rem 4rem 2rem 2rem;
}

.taskHeaderWrapperChild {
  margin-top: 0.5rem;
}

.taskHeaderWrapper:first-child {
  margin-top: 0;
}

.taskInfoWrapper {
  padding: 2rem 4rem 2rem 2rem;
  background-color: var(--cyan-10);
}

.taskInfoWrapper h6 {
  display: inline-block;
}

.taskInfo {
  padding: 0 2.25rem 0rem 2rem;
  margin-top: 0.5rem;
}

.infoSVG {
  margin-right: 1rem;
}

.action {
  padding: 1rem;
}

.completed {
  background-color: var(--cyan-30);
}

.error {
  background-color: var(--background-pink);
}

.buttonCover {
  display: flex;
  align-items: center;
  box-shadow: 0 1 4 1 var(--dropshadow);
}

.svgWrapper,
.svgWrapperError {
  background-color: var(--cyan);
  border-radius: 3px 0 0 3px;
  border: 1px solid transparent;
  width: 2.625rem;
  height: 2.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svgWrapperError {
  background-color: var(--error-red);
}

.buttonCover path + path {
  fill: var(--white);
}

.completedText,
.errorText {
  background-color: var(--white);
  text-align: center;
  width: 100%;
  border-radius: 0 3px 3px 0;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2.625rem;
}

.completedText {
  color: var(--black);
}

.button {
  width: 100%;
  box-shadow: 0 1 4 1 var(--dropshadow);
}
