.tutorialsMenu {
  position: absolute;
  min-width: 30rem;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  top: calc(var(--header-height) + 0.5rem);
  border-radius: 3px;
  overflow: hidden;
}
