@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.base > path {
  fill: none;
  stroke: var(--success-green);
  stroke-width: 3;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 1s ease forwards;
}
