{{- /*
SPDX-FileCopyrightText: Pachyderm, Inc. <info@pachyderm.com>
SPDX-License-Identifier: Apache-2.0
*/ -}}
{{- if .Values.console.enabled -}}
apiVersion: v1
kind: Service
metadata:
  labels:
    app: console
    suite: pachyderm
    {{- if .Values.console.service.labels }}
    {{- toYaml .Values.console.service.labels | nindent 4 }}
    {{- end }}
  name: console
  namespace: {{ .Release.Namespace }}
spec:
  ports:
  - name: console-http
    {{- if eq .Values.console.service.type "NodePort" }}
    nodePort: 30080
    {{- end }}
    port: {{ .Values.console.config.graphqlPort }}
  selector:
    app: console
    suite: pachyderm
  type: {{ .Values.console.service.type }}
{{ end -}}
