{{ define "summary" }}

<!DOCTYPE html5>
<html>
<body>

<h1> Summary </h1>

<h2> Support for {{ .OS }} </h2>

<ul>
{{ range $name, $link := .Links }}
<li><a href="./{{ $link }}"> {{ $name }} </a></li>
{{ end }}
</ul>

<style>

.undefined {
  background-color: grey;
}

.unsupported {
  background-color: red;
}


.supported {
  background-color: green;
}

table, th, td {
   border: 1px solid black;
}

</style>


{{ range .CombinedSpecs }}
  {{ template "combined_spec" . }}
{{ end }}

{{ range .SingleSpecs }}
  {{ template "spec" . }}
{{ end }}

</body>
</html>


{{ end }}
