.view {
  padding: 0;
  height: max-content;
}

.canvasControls {
  display: inline-flex;
  align-items: center;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.125rem;
  border-radius: 3px;
  filter: drop-shadow(2px 2px 8px rgba(222, 222, 223, 0.8));
  background-color: var(--white);
}

.rotateSvg {
  display: inline-block;
  vertical-align: baseline;
}

.rotateSvg.flipped {
  transform: scaleX(-1) rotate(90deg);
}

.tooltip {
  white-space: pre-line;
}

.dagError {
  margin-left: 1rem;
}

.base:hover {
  cursor: move;
  cursor: grab;
}

.base:active {
  cursor: grabbing;
}
