.odd {
  background-color: var(--white);
}
.even {
  background-color: var(--background-grey);
}

.row {
  font-family: Menlo;
  color: var(--pachyderm-black);
  font-size: 0.75rem;;
  letter-spacing: 0;
  line-height: 1rem;

  display: flex;
  align-items: flex-start;
}

.row label {
  margin-bottom: 0;
}

.timestampCol {
  padding-left: 2rem;
  width: 17.438rem;
  line-height: 1rem;
  text-align: top;
  padding-bottom: 0.75rem;
}

.timestampCheckbox span {
  font-family: Menlo;
  color: var(--pachyderm-black);
  font-size: 12px;
  letter-spacing: 0;
  padding-left: 1rem;
}

.messageCol {
  width: 100%;
  white-space: pre-wrap;
  line-break: anywhere;
  padding-bottom: 0.5rem;
}

.mark {
  background-color: var(--plum-2);
  padding: 0;
}
