.base {
  overflow-y: scroll;
  height: 100%;
  padding: 1rem;
}

.listItem {
  border: 1px solid var(--border-grey);
  border-bottom: 0;

  display: flex;
  min-height: 3rem;
  padding: 0.25rem 0.5rem 0.25rem 1rem;
}

.listItem:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.listItem:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: solid 1px var(--line-grey);
}

.skeletonWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skeletonDisplayText {
  height: 1.375rem;
  margin-bottom: 0;
}

.leftSkeleton {
  width: 8rem;
}

.rightSkeleton {
  width: 4rem;
}

.loadingText {
  margin-top: 1rem;
}

.versionDates {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.button {
  margin-top: 0.5rem;
  width: 100%;
}
