.pipelineList {
  position: relative;
  padding: 0.75rem 0;
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  height: 100%;
  overflow-y: auto;
}

.nav {
  min-width: 2rem;
  max-width: 12rem;
  flex: 2;
}

.collapsed {
  max-width: 3rem;
}

.pipelineLinkText {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 0.25rem;
}

.pipelineLink {
  color: var(--pachyderm-black);
  display: flex;
  align-items: center;
  padding: 0.75rem 0.5rem;
  border-left: 2px solid transparent;
  box-sizing: border-box;
}

.pipelineLink:hover,
.pipelineLink:active {
  color: var(--pachyderm-black);
  text-decoration: none;
}

.pipelineLink:hover {
  background-color: var(--background-grey);
}

.pipelineLink.active.error {
  border-left: 2px solid var(--error-red);
}

.pipelineLink.active.success {
  border-left: 2px solid var(--success-green);
}

.pipelineLink.active.busy {
  border-left: 2px solid var(--border-grey);
}
