.base {
  border-bottom: none;
  padding-left: 0;
  max-width: 34.25rem;
}

.base[class$='modal-header'] {
  padding: 3rem 2rem 1rem;
}

.base[class$='modal-header'].withStatus {
  padding-top: 0.5rem;
}

.base.error[class$='modal-header'] {
  padding-top: 1.25rem;
}

.group {
  width: 100%;
}

.checkmark {
  height: 1.2rem;
}

.spinner {
  color: var(--success-green);
}

.small {
  max-width: 26rem;
}
