/* === Button === */
.pachyderm-button {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 3px;
  text-decoration: none;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out,
    border 300ms ease-in-out;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  font-size: inherit;

  border: 1px solid rgba(255, 255, 255, 0);
  background-color: var(--pachyderm-plum);
  color: var(--pachyderm-white);
  font-size: 0.875rem;
  padding: 4px;
}

.pachyderm-button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.pachyderm-button:not(:disabled):hover,
.pachyderm-button:active,
.pachyderm-button:focus {
  background-color: var(--pachyderm-hover-plum);
}

/* === ButtonLink === */
.pachyderm-button-link {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: inherit;
  cursor: pointer;
  color: var(--jp-brand-color1);
  user-select: none;
  font-family: 'Montserrat', sans-serif;
  box-shadow: none;
  border: none;
  background-color: inherit;
  padding: 0;
  margin: 0;
  transition: color 300ms ease-in-out;
}

.pachyderm-button-link:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.pachyderm-button-link:not(:disabled):hover,
.pachyderm-button-link:active,
.pachyderm-button-link:focus {
  color: var(--jp-brand-color0);
}
