.base {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.listScroll {
  overflow-y: auto;
  max-height: calc(100vh - var(--header-height) - var(--sidebar-header-height));
}

.loadingDots {
  margin-top: 6rem;
}
