apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
resources:
- role-binding.yaml
- role.yaml
commonLabels:
  kustomize.component: cert-manager
configMapGenerator:
- name: cert-manager-kube-params-parameters
  env: params.env
generatorOptions:
  disableNameSuffixHash: true
vars:
- name: certManagerNamespace
  objref:
    kind: ConfigMap
    name: cert-manager-kube-params-parameters
    apiVersion: v1
  fieldref:
    fieldpath: data.certManagerNamespace
configurations:
- params.yaml
