.base {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: var(--width-sidenav);
  transition: width 0.1s ease-out;
  z-index: var(--z-index-sidenav);
  height: 100%;
  background-color: var(--white);
  border-right: solid 1px var(--line-grey);
  padding-top: 0.5rem;
}

.base.collapsed {
  width: var(--width-sidenav-collapsed);
}

.collapse {
  display: flex;
  border: none;
  background-color: transparent;
  padding: 0.5rem 1rem;
  overflow-x: hidden;
  white-space: nowrap;
  transition: color 0.2s;
  border-top: solid 1px var(--line-grey);
}

.collapse:focus:not([class$='focus-visible']) {
  outline: none;
}

.collapseIcon {
  margin-right: 0.5rem;
}
