.link {
  color: var(--pachyderm-plum);
}

.link:not([href]) {
  opacity: 0.3;
  cursor: not-allowed;
}

.link:active,
.link:hover,
.link:focus {
  color: var(--hover-plum);
  text-decoration: none;
}

.link:focus:not([class$='focus-visible']) {
  outline: none;
}

.small {
  font-size: 0.75rem;
}
