.seeJobs {
  padding: 0.5rem 1.25rem;
  border: solid 2px var(--selected-grey);
  border-radius: 0.25rem;
  margin-left: auto;
  font-weight: 600;
  font-size: 0.75rem;
  color: var(--white);
  text-decoration: none;
}

.seeJobsContent {
  display: flex;
  align-items: center;
}

.seeJobsBadge {
  margin-right: 0.5rem;
  width: 1.25rem;
  text-align: center;
}

.seeJobs:hover,
.seeJobs.active,
.seeJobs:focus {
  color: var(--white);
  background-color: var(--selected-grey);
  text-decoration: none;
}

.seeJobs:focus:not([class$='focus-visible']) {
  outline: none;
}

.goBack {
  margin-right: 25px;
}

.goBack:hover .goBackSvg path,
.goBack:active .goBackSvg path,
.goBack:focus[class$='focus-visible'] .goBackSvg path {  
  fill: var(--pachyderm-orange);
}

.goBack:focus:not([class$='focus-visible']) {
  outline: none;
}

.projectNameWrapper {
  border-left: 1px solid var(--placeholder-grey);
  padding-left: 1.5625rem;
}

.projectName {
  font-size: 0.875rem;
  color: var(--white);
  margin-bottom: 0;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  font-weight: bold;
  user-select: none;
  width: 13.125rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projectNameLoader {
  width: 10rem;
  margin-bottom: 0;
}

.projectNameTooltip {
  margin-top: 0.75rem;
}
