# SPDX-FileCopyrightText: Pachyderm, Inc. <info@pachyderm.com>
# SPDX-License-Identifier: Apache-2.0
deployTarget: custom

pachd:
  image:
    tag: local
  resources:
    requests:
      cpu: 250m
      memory: 512M
  service:
    type: NodePort
  metrics:
    enabled: false
  clusterDeploymentID: dev
  # to enable enterprise features pass in pachd.activateEnterprise=true, and a valid pachd.enterpriseLicenseKey
  activateEnterprise: false
  # enterpriseLicenseKey: ""
  storage:
    gocdkEnabled: true
    storageURL: s3://pachyderm-test?endpoint=minio.default.svc.cluster.local:9000&disableSSL=true&region=dummy-region
    backend: AMAZON
    amazon:
      id: "minioadmin"
      secret: "minioadmin"
etcd:
  service:
    type: NodePort

postgresql:
  service:
    type: NodePort

proxy:
  enabled: true # only needed if < 2.6
  host: 127.0.0.1
  service:
    type: LoadBalancer
