.base {
  background-color: var(--white);
  border-bottom: solid 1px var(--grey-3);
  border-top: none;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  height: 3rem;
  color: var(--pachyderm-black);
  padding-right: 1rem;
  padding-left: 0.25rem;
  transition: background-color 0.1s;
}

.base:first-of-type {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.base:last-of-type {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.base:hover[href], .base:active[href], .base.selected {
  border: solid 1px var(--banner-green);
  color: var(--pachyderm-black);
  padding-right: calc(1rem - 1px);
}

.nodeImage {
  margin: 0 0.25rem; 
}

.nodeName {
  flex: 1;
  margin: 0;
  margin-top: 2px;
  display: inline-block;
}

.base:hover[href] .nodeName, .base:active[href] .nodeName, .base.selected .nodeName {
  margin-top: 0px;
}
.base:hover[href] .nodeImage, .base:active[href] .nodeImage, .base.selected .nodeImage {
  margin-left: calc(0.25rem - 1px);   
}

.status {
  color: var(--pachyderm-black);
}

.base.selected,  .base.selected:hover[href], .base.selected:active[href]{
  border: solid 1px var(--banner-green);
  border-right-width: 6px;
  padding-right: calc(1rem - 5px);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.base.selected:not(.error) {
  border-color: var(--banner-green);
}

.base.selected.error {
  border-color: var(--error-red);
}

.base.selected.paused {
  border-color: var(--pachyderm-yellow);
}
