.base::-webkit-progress-bar {
  background-color: #d8d8d8;
  border: 0;
  width: 18.75rem;
  height: 0.375rem;
  border-radius: 3px;
}

.base::-webkit-progress-value {
  background-color: #5ba3b1;
  border-radius: 3px;
  transition: width 100ms linear;
}

.base::-moz-progress-bar {
  background-color: #5ba3b1;
  border-radius: 3px;
  transition: width 500ms linear;
}

.base {
  background-color: #d8d8d8;
  border: 0;
  width: 300px;
  height: 6px;
  border-radius: 3px;
  appearance: none;
}

.percentage {
  color: var(--pachyderm-black);
  width: 2rem;
  text-align: end;
}
