
.commit {
    margin: 0;
}

.search {
    border-left: solid 1px var(--line-grey);
    flex: 1;
    padding: 1rem;
    padding-left: 3rem;
    background-origin: content-box;
    background-size: 1rem;
    background-position: -1.5rem 0;
}

.header {
    width: 100%;
    padding-right: 3rem;
    min-height: var(--header-height);
}

.subHeader {
    display: flex;
    align-items: center;
    border-top: solid 1px var(--line-grey);
    font-size: var(--font-size-body-medium);
    padding: 1rem 0;
}

.dateField {
    min-width: 12rem;
    max-height: 1rem;
}

.datelabel {
    font-weight: 600;
    display: inline-flex;
    align-items: center;
}

.infoIcon {
    margin-left: 0.25rem;
}

.navigate {
    color: var(--pachyderm-black);
    font-size: var(--font-size-body-medium);
    width: auto;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.directionRight {
    transform: rotate(90deg);
    margin-left: 1rem;
}

.directionLeft {
    margin-right: 1rem;
    transform: rotate(-90deg);
}
