
.commit {
    margin: 0;
}

.search {
    border-left: solid 1px var(--line-grey);
    flex: 1;
    padding: 1rem;
    padding-left: 3rem;
    background-origin: content-box;
    background-size: 1rem;
    background-position: -1.5rem 0;
}

.header {
    width: 100%;
    padding-right: 3rem;
    min-height: var(--header-height);
}

.subHeader {
    display: flex;
    align-items: center;
    border-top: solid 1px var(--line-grey);
    font-size: var(--font-size-body-medium);
    padding: 1rem 0;
    justify-content: space-between;
}

.dateField {
    white-space: nowrap;
    max-height: 1rem;
}

.datelabel {
    font-weight: 600;
    display: inline-flex;
    align-items: center;
}

.infoIcon {
    margin-left: 0.25rem;
    transform: scale(0.75);
}

.navigate {
    color: var(--pachyderm-black);
    font-size: var(--font-size-body-medium);
    width: auto;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.directionRight {
    margin-left: 1rem;
}

.directionLeft {
    margin-right: 1rem;
}
 
.switchItem {
  display: flex;
  align-items: center;
  color: var(--pachyderm-black);
  font-weight: bold;
}

.switch {
  margin-right: 0.5rem;
}
