.base {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 3rem;

  background-color: var(--white);
  border-left: 1px solid var(--border-grey);
  border-radius: 0 3px 0 0;

  transform-origin: right;
  transition:
    min-width 0.1s ease-out,
    min-width 0.1s ease-out;
}

.base.open {
  min-width: 18.75rem;
  max-width: 18.75rem;
}

.base.expanded {
  min-width: 37.5rem;
  max-width: 37.5rem;
}

.base.left {
  position: absolute;
  height: calc(100% - 1rem);
  z-index: var(--z-index-modal-left-panel);
  border-left: none;
  border-radius: 3px 0 0 0;
  border-right: 1px solid var(--border-grey);
  box-shadow: 2px 2px 8px var(--dropshadow-grey);
}

.base.leftClosed {
  max-width: 3rem;
  justify-content: flex-end;
}

.rightHeading {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 3.5rem;
  border-bottom: 1px solid var(--border-grey);
}

.rightHeading.open {
  display: flex;
  justify-content: space-between;

  padding: 0 1rem;
}

.children {
  height: calc(100% - 3.5rem);
  overflow-y: hidden;
}

.footer {
  display: flex;
  align-items: center;

  min-height: 3.5rem;
  padding-left: 0.875rem;

  border-top: 1px solid var(--border-grey);
}

.footer.left {
  justify-content: flex-end;
  padding-right: 0.875rem;
}

.footer.closed {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
