.base {
  display: block;
  padding-left: 2rem;
  width: 100%;
  white-space: nowrap;
}

.base *, .base {
  font-family: 'Menlo';
  line-height: 1.5rem;
  background: transparent;
}

.base.clickable:hover {
  cursor: pointer;
}

.base:hover {
  background-color: var(--hover-grey);
}

.base.depth1 {
  color: var(--chart-blue);
}

.base.depth2 {
  color: var(--chart-dark-green);
}

.base.depth3 {
  color: var(--pachyderm-coral);
}

.base.depth4 {
  color: var(--pachyderm-plum);
}

.base.depth5 {
  color: var(--pachyderm-green);
}

.base.depth6 {
  color: var(--chart-hover-dark-blue);
}

.chevron {
  display: inline-block;
  user-select: none;
  margin-left: -1.25rem;
}

.value {
  color: var(--pachyderm-black);
  display: inline-block;
}

.depthTab {
  margin-left: 1.25rem;
}
