.base {
  position: relative;
  color: var(--dropshadow-grey);
  padding: 0.5rem 3rem 0.5rem 0;
  min-height: 2.5rem;
  top: 0;
  left: 0;
}

.error {
  color: var(--error-red);
}

.success {
  color: var(--icon-green);
}

.icon {
  margin-right: 0.5rem;
}

.content {
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}
