{{- /*
SPDX-FileCopyrightText: Pachyderm, Inc. <info@pachyderm.com>
SPDX-License-Identifier: Apache-2.0
*/ -}}
{{- if .Values.enterpriseServer.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: pach-enterprise
    suite: pachyderm
  name: pach-enterprise
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pach-enterprise
      suite: pachyderm
  strategy: {}
  template:
    metadata:
      labels:
        app: pach-enterprise
        suite: pachyderm
        {{- if .Values.enterpriseServer.podLabels }}
        {{- toYaml .Values.enterpriseServer.podLabels | nindent 8 }}
        {{- end }}
      name: pach-enterprise
      namespace: {{ .Release.Namespace }}
      {{- if .Values.enterpriseServer.annotations }}
      annotations: {{ toYaml .Values.enterpriseServer.annotations | nindent 4 }}
      {{- end }}
    spec:
      {{-  if .Values.enterpriseServer.affinity }}
      affinity: {{ toYaml .Values.enterpriseServer.affinity | nindent 8 }}
      {{- end }}
{{- include "pachyderm.imagePullSecrets" . | indent 6 }}
      containers:
      - command:
        - /pachd
        - --mode=enterprise
        env:
        - name: POSTGRES_HOST
          value: {{ required "postgresql host required" .Values.global.postgresql.postgresqlHost | quote }}
        - name: POSTGRES_PORT
          value: {{ required "postgresql port required" .Values.global.postgresql.postgresqlPort | quote }}
        - name: PG_BOUNCER_HOST
          value: pg-bouncer # Must match pgbouncer service name
        - name: PG_BOUNCER_PORT
          value: "5432" # Must match pgbouncer service port
        - name: POSTGRES_DATABASE
          value: {{ required "postgresql database name required" .Values.global.postgresql.postgresqlDatabase | quote }}
        - name: POSTGRES_USER
          value: {{ required "postgresql username required" .Values.global.postgresql.postgresqlUsername | quote }}
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres # Must match secret setup by postgres subchart or postgres-secret.yaml if using external postgres
              key: postgresql-password
        {{- if and .Values.enterpriseServer.tls.enabled .Values.global.customCaCerts }}
        - name: SSL_CERT_DIR
          value:  /pachd-tls-cert
        {{- end }}
        {{ if .Values.global.proxy }}
        - name: http_proxy
          value: {{ .Values.global.proxy }}
        - name: https_proxy
          value:  {{.Values.global.proxy}}
        - name: HTTP_PROXY
          value:  {{.Values.global.proxy}}
        - name: HTTPS_PROXY
          value:  {{.Values.global.proxy}}
        {{ end }}
        {{ if .Values.global.noProxy }}
        - name: no_proxy
          value:  {{.Values.global.noProxy}}
        - name: NO_PROXY
          value:  {{.Values.global.noProxy}}
        {{ end }}
        envFrom:
          - secretRef:
              name: pachyderm-deployment-id-secret
        image: "{{ .Values.enterpriseServer.image.repository }}:{{ default .Chart.AppVersion .Values.enterpriseServer.image.tag }}"
        imagePullPolicy: {{ .Values.enterpriseServer.image.pullPolicy }}
        name: pachd
        ports:
        - containerPort: 1650
          name: api-grpc-port
          protocol: TCP
        - containerPort: 1653
          name: peer-port
          protocol: TCP
        - containerPort: 1657
          name: oidc-port
          protocol: TCP
        - containerPort: 1658
          name: identity-port
          protocol: TCP
        - containerPort: 1656
          name: prom-metrics
          protocol: TCP
        readinessProbe:
          exec:
            command:
            - /pachd
            - --readiness
        {{- if .Values.enterpriseServer.resources }}
        resources: {{ toYaml .Values.enterpriseServer.resources | nindent 10 }}
        {{- end }}
        volumeMounts:
        {{- if .Values.enterpriseServer.tls.enabled }}
        - mountPath: /pachd-tls-cert
          name: pachd-tls-cert
        {{- end }}
      volumes:
      {{- if .Values.enterpriseServer.tls.enabled }}
      - name: pachd-tls-cert
        secret:
          secretName: {{ required "If enterpriseServer.tls.enabled, you must set enterpriseServer.tls.secretName" .Values.enterpriseServer.tls.secretName | quote }}
      {{- end }}
      {{- if .Values.pachd.securityContext.enabled }}
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
      {{- end }}
      initContainers:
      - name: init-etcd
        image: busybox:1.28
        command: ['sh', '-c', "until wget -O- http://etcd:2379/version > /dev/null; do echo waiting for etcd; sleep 2; done"] 
{{- end }}
