{{- /*
SPDX-FileCopyrightText: Pachyderm, Inc. <info@pachyderm.com>
SPDX-License-Identifier: Apache-2.0
*/ -}}
{{ if .Values.pachd.enterpriseLicenseKey }}
{{- $enterpriseSecret := include "pachyderm.enterpriseSecret" . -}}
{{- $oidcSecret := include "pachyderm.pachClientSecret" . -}}
apiVersion: v1
kind: Secret
metadata:
  name: pachyderm-config
  namespace: {{ .Release.Namespace }}
stringData:
{{ if eq .Values.deployTarget "LOCAL" }}
  # authConfig is the configuration for pachd as an OIDC client
  # ** note: `authConfig.client_secret` must equal `oidcClients.secret`
  authConfig: |
    client_id: pachd 
    client_secret: {{ $oidcSecret }}
    issuer: http://pachd:1658/
    localhost_issuer: true
    require_email_verified: false
    redirect_uri: http://localhost:30657/authorization-code/callback
    scopes:
    - email
    - profile
    - groups
    - openid 
{{- end }}

{{ if eq .Values.deployTarget "LOCAL" }}
  # clusterRoleBindings is a set of user -> role mappings to apply
  clusterRoleBindings: |
    robot:test:
    - repoReader
{{- end }}

{{ if eq .Values.deployTarget "LOCAL" }}
  # enterpriseClusters is the set of pachds covered by license service 
  enterpriseClusters: |
    - address: grpc://localhost:1650
      id: localhost
      secret: {{ $enterpriseSecret }}
      user_address: grpc://localhost:30650
      cluster_deployment_id: $CLUSTER_DEPLOYMENT_ID
{{- end }}

  # enterpiseConfig points the pachd to a license service (in this case itself)
{{ if eq .Values.deployTarget "LOCAL" }}
  enterpriseConfig: |
    id: localhost
    license_server: grpc://localhost:1650
    secret: {{ $enterpriseSecret }}
{{- end }}

  # identityServiceConfig configures the OIDC provider
{{ if eq .Values.deployTarget "LOCAL" }}
  # id_token_expiry value is parsed into golang's time.Duration: https://pkg.go.dev/time#example-ParseDuration
  identityServiceConfig: |  
    issuer: http://pachd:1658/
    id_token_expiry: 24h
{{- end }}

{{ if eq .Values.deployTarget "LOCAL" }}
  # idps is the set of Identity Providers to support for logging in
  idps: |
    - id: test
      name: test
      type: mockPassword
      jsonConfig: '{"username": "admin", "password": "password"}' 
      
  # idps: |
  #   - id: okta
  #     jsonConfig: >- 
  #       {
  #           "issuer": "https://dev-84362674.okta.com",
  #           "clientID": "client_id",
  #           "clientSecret": "notsecret",
  #           "redirectURI": "http://localhost:30658/callback",
  #           "insecureEnableGroups": true,
  #           "insecureSkipEmailVerified": true,
  #           "insecureSkipIssuerCallbackDomainCheck": true,
  #           "forwardedLoginParams": ["login_hint"]
  #       }
  #     name: okta
  #     type: oidc
{{- end }}

  license: {{ required "Enterprise license key required" .Values.pachd.enterpriseLicenseKey | quote }}

  enterpriseSecret: {{ $enterpriseSecret }}

{{ if eq .Values.deployTarget "LOCAL" }}
  # oidcClients is the set of OIDC clients registered with the OIDC provider
  # the config-pod (job that sets up pachyderm using this data) resolves oidcClient 
  # values that are environment variables.
  oidcClients: |
    - id: pachd
      name: pachd
      secret: {{ $oidcSecret }}
      redirect_uris:
      - http://localhost:30657/authorization-code/callback
      trusted_peers:
      - dash
    {{- if .Values.console.enabled }}
    - id: dash
      name: dash
      secret: $CONSOLE_OAUTH_CLIENT_SECRET
      redirect_uris:
      - http://localhost:4000/oauth/callback/?inline=true
    {{- end }}
{{- end }}

  # rootToken is the auth token used to communicate with the cluster as the root user
  rootToken: {{ default (randAlphaNum 32) .Values.pachd.rootToken | quote }}
{{- end }}