
.questionHeader {
  margin-bottom: 1rem;
}

.radios {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.radio {
  width: 5rem;
}

.radio div:first-child {
  align-self: start;
  padding-top: 0.5rem;
}

.radioLabel {
  align-self: start;
}

.radioLabel > span{
  color: var(--pachyderm-black);
}
