include LICENSE
include *.md
include pyproject.toml
include requirements.txt
recursive-include jupyter-config *.json
include jupyterlab_pachyderm/tests/data/*

exclude .circleci/*
exclude cypress/*
exclude cypress.json
exclude Dockerfile
exclude scripts/*
exclude infra/*
exclude svg-images/*
exclude BUILD.bazel
exclude MODULE.bazel
exclude MODULE.bazel.lock
exclude WORKSPACE
exclude gazelle_python.yaml
exclude requirements-dev-lock.txt
exclude requirements-dev.txt
exclude requirements-lock.txt
exclude requirements-dev-lock-darwin.txt
exclude requirements-dev-lock-linux.txt
recursive-exclude jupyterlab_pachyderm *.bazel

include package.json
include install.json
include ts*.json
include schema/*.json
include webpack.config.js
include *.config.js

graft jupyterlab_pachyderm/labextension

# Javascript files
graft src
graft style
prune **/node_modules
prune lib
prune .circleci
prune cypress
prune cypress.json

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
