.base {
  position: relative;
  margin-right: auto;
}

.dropdown {
  position: absolute;
  width: 31.25rem;
  opacity: 0;
  visibility: hidden;
  z-index: var(--z-index-dropdown-menu);
  border: 1px solid var(--border-grey);
  border-radius: 0px 0px 3px 3px;
  background-color: var(--white);
  box-shadow: 0 1px 2px 0 rgba(184, 184, 184, 0.5);
}

.open {
  opacity: 1;
  visibility: visible;
}

.globalIdFilter {
  margin: 1rem;
}

.globalIdFilter > svg {
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
}
