.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.metricSection {
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.jobIdContainer {
  display: flex;
  align-items: center;
}

.duration {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.runtime {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.runtimeDetails {
  background-color: var(--grey-1);
  margin: 0 -1rem;
  padding: 0.5rem 1rem 0 1rem;
  overflow: hidden;
  animation: slide ease-out 300ms;
}

.runtimeDetails.closing {
  animation: slideOut ease-out 300ms;
}

@keyframes slideOut {
  0% {
    max-height: 20rem;
  }

  100% {
    max-height: 0;
  }
}

@keyframes slide {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 20rem;
  }
}

.runtimeDetail {
  display: flex;
  justify-content: space-between;
}

.metricLabel,
.bytes {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--grey-7);
}

.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}
