.base {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
}

.elephantSvg {
  margin-top: 8rem;
}

.message {
  margin-top: 1rem;
  font-size: var(--font-size-body-medium);
  text-align: center;
  max-width: 14.125rem;
}

.title {
  margin-top: 1rem;
  font-size: var(--font-size-body-large);
}
