.base {
  display: relative;
}

.header {
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
}

.chevron {
  margin-left: 0.25rem;
}

.menuOpen {
  transform: rotate(180deg);
}

.search {
  align-items: center;
  display: flex;
  padding-left: 0.625rem;
}

.searchInput {
  border: none;
  font-size: 0.75rem;
  height: 2.5rem;
  margin-left: 0.625rem;
  outline: none;
  width: 100%;
}

.divider {
  background-color: var(--line-grey);
  height: 1px;
  margin: 0 auto;
  width: 90%;
}

.branchWrapper {
  background-color: var(--white);
  box-shadow: 1px 1px 4px 0 var(--dropshadow-grey);
  left: 0.375rem;
  position: absolute;
  width: 90%;
}

.branch {
  cursor: pointer;
  font-size: 0.75rem;
  padding: 0.8125rem 0 0.8125rem 1.25rem;
}

.branch:hover {
  background-color: var(--hover-grey);
}

.currentBranch {
  color: var(--pachyderm-plum);
  font-weight: 600;
}
