<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Console Icons & SVGs</title>
    <link rel="stylesheet" href="IconPreviews.css">
</head>
<body>
    <h2>Icons</h2>
    <div id="icon-svg-container" class="svgContainer"></div>
    <h2>HPE</h2>
    <div id="hpe-svg-container" class="svgContainer"></div>
    <h2>Pachyderm</h2>
    <div id="pachyderm-svg-container" class="svgContainer"></div>
    <script src="IconPreviews.js"></script>
</body>
</html>
