.base {
  border-top: 1px solid var(--grey-20);
}

.base[class$='modal-footer'] {
  height: 5.625rem;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.base[class$='modal-footer']>* {
  margin: 0;
}
