{
  "id": 23653453,
  "node_id": "MDEwOlJlcG9zaXRvcnkyMzY1MzQ1Mw==",
  "name": "pachyderm",
  "full_name": "pachyderm/pachyderm",
  "private": false,
  "owner": {{pachuser}},
  "html_url": "https://github.com/pachyderm/pachyderm",
  "description": "Data-Centric Pipelines and Data Versioning",
  "fork": false,
  "url": "https://api.github.com/repos/pachyderm/pachyderm",
  "forks_url": "https://api.github.com/repos/pachyderm/pachyderm/forks",
  "keys_url": "https://api.github.com/repos/pachyderm/pachyderm/keys{/key_id}",
  "collaborators_url": "https://api.github.com/repos/pachyderm/pachyderm/collaborators{/collaborator}",
  "teams_url": "https://api.github.com/repos/pachyderm/pachyderm/teams",
  "hooks_url": "https://api.github.com/repos/pachyderm/pachyderm/hooks",
  "issue_events_url": "https://api.github.com/repos/pachyderm/pachyderm/issues/events{/number}",
  "events_url": "https://api.github.com/repos/pachyderm/pachyderm/events",
  "assignees_url": "https://api.github.com/repos/pachyderm/pachyderm/assignees{/user}",
  "branches_url": "https://api.github.com/repos/pachyderm/pachyderm/branches{/branch}",
  "tags_url": "https://api.github.com/repos/pachyderm/pachyderm/tags",
  "blobs_url": "https://api.github.com/repos/pachyderm/pachyderm/git/blobs{/sha}",
  "git_tags_url": "https://api.github.com/repos/pachyderm/pachyderm/git/tags{/sha}",
  "git_refs_url": "https://api.github.com/repos/pachyderm/pachyderm/git/refs{/sha}",
  "trees_url": "https://api.github.com/repos/pachyderm/pachyderm/git/trees{/sha}",
  "statuses_url": "https://api.github.com/repos/pachyderm/pachyderm/statuses/{sha}",
  "languages_url": "https://api.github.com/repos/pachyderm/pachyderm/languages",
  "stargazers_url": "https://api.github.com/repos/pachyderm/pachyderm/stargazers",
  "contributors_url": "https://api.github.com/repos/pachyderm/pachyderm/contributors",
  "subscribers_url": "https://api.github.com/repos/pachyderm/pachyderm/subscribers",
  "subscription_url": "https://api.github.com/repos/pachyderm/pachyderm/subscription",
  "commits_url": "https://api.github.com/repos/pachyderm/pachyderm/commits{/sha}",
  "git_commits_url": "https://api.github.com/repos/pachyderm/pachyderm/git/commits{/sha}",
  "comments_url": "https://api.github.com/repos/pachyderm/pachyderm/comments{/number}",
  "issue_comment_url": "https://api.github.com/repos/pachyderm/pachyderm/issues/comments{/number}",
  "contents_url": "https://api.github.com/repos/pachyderm/pachyderm/contents/{+path}",
  "compare_url": "https://api.github.com/repos/pachyderm/pachyderm/compare/{base}...{head}",
  "merges_url": "https://api.github.com/repos/pachyderm/pachyderm/merges",
  "archive_url": "https://api.github.com/repos/pachyderm/pachyderm/{archive_format}{/ref}",
  "downloads_url": "https://api.github.com/repos/pachyderm/pachyderm/downloads",
  "issues_url": "https://api.github.com/repos/pachyderm/pachyderm/issues{/number}",
  "pulls_url": "https://api.github.com/repos/pachyderm/pachyderm/pulls{/number}",
  "milestones_url": "https://api.github.com/repos/pachyderm/pachyderm/milestones{/number}",
  "notifications_url": "https://api.github.com/repos/pachyderm/pachyderm/notifications{?since,all,participating}",
  "labels_url": "https://api.github.com/repos/pachyderm/pachyderm/labels{/name}",
  "releases_url": "https://api.github.com/repos/pachyderm/pachyderm/releases{/id}",
  "deployments_url": "https://api.github.com/repos/pachyderm/pachyderm/deployments",
  "created_at": "2014-09-04T07:50:02Z",
  "updated_at": "2023-08-20T12:54:03Z",
  "pushed_at": "2023-08-20T07:01:59Z",
  "git_url": "git://github.com/pachyderm/pachyderm.git",
  "ssh_url": "git@github.com:pachyderm/pachyderm.git",
  "clone_url": "https://github.com/pachyderm/pachyderm.git",
  "svn_url": "https://github.com/pachyderm/pachyderm",
  "homepage": "https://www.pachyderm.com/",
  "size": 569482,
  "stargazers_count": 5964,
  "watchers_count": 5964,
  "language": "Go",
  "has_issues": true,
  "has_projects": true,
  "has_downloads": true,
  "has_wiki": false,
  "has_pages": false,
  "has_discussions": false,
  "forks_count": 562,
  "mirror_url": null,
  "archived": false,
  "disabled": false,
  "open_issues_count": 884,
  "license": {
    "key": "apache-2.0",
    "name": "Apache License 2.0",
    "spdx_id": "Apache-2.0",
    "url": "https://api.github.com/licenses/apache-2.0",
    "node_id": "MDc6TGljZW5zZTI="
  },
  "allow_forking": true,
  "is_template": false,
  "web_commit_signoff_required": false,
  "topics": [
    "analytics",
    "big-data",
    "containers",
    "data-analysis",
    "data-science",
    "distributed-systems",
    "docker",
    "go",
    "kubernetes",
    "pachyderm"
  ],
  "visibility": "public",
  "forks": 562,
  "open_issues": 884,
  "watchers": 5964,
  "default_branch": "master"
}
